body#tinymce {
    background: url("../images/boardBg.jpg") !important;
    color: #fff !important;
}
body#tinymce a {
    color: #fff;
}
body#tinymce a:link,
body#tinymce a:active,
body#tinymce a:hover,
body#tinymce a:visited {
    text-decoration: underline;
}
body#tinymce table caption {
    color: #fff;
}
body#tinymce table th,
body#tinymce table td {
    color: #fff;
}
body#tinymce h3 {
    color: #fff;
}
body#tinymce h4 {
    color: #fff;
}
body#tinymce h5 {
    color: #fff;
}
body#tinymce h6 {
    color: #fff;
}