@font-face {
  font-family: 'dosis extralight';
  src: url("../fonts/dosis-extralight.eot");
  src: url("../fonts/dosis-extralight.eot?#iefix") format("embedded-opentype"), url("../fonts/dosis-extralight.woff") format("woff"), url("../fonts/dosis-extralight.ttf") format("truetype"), url("../fonts/dosis-extralight.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dosis light';
  src: url("../fonts/dosis-light.eot");
  src: url("../fonts/dosis-light.eot?#iefix") format("embedded-opentype"), url("../fonts/dosis-light.woff") format("woff"), url("../fonts/dosis-light.ttf") format("truetype"), url("../fonts/dosis-light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dosis';
  src: url("../fonts/dosis-regular.eot");
  src: url("../fonts/dosis-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/dosis-regular.woff") format("woff"), url("../fonts/dosis-regular.ttf") format("truetype"), url("../fonts/dosis-regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dosis medium';
  src: url("../fonts/dosis-medium.eot");
  src: url("../fonts/dosis-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/dosis-medium.woff") format("woff"), url("../fonts/dosis-medium.ttf") format("truetype"), url("../fonts/dosis-medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dosis semibold';
  src: url("../fonts/dosis-semibold.eot");
  src: url("../fonts/dosis-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/dosis-semibold.woff") format("woff"), url("../fonts/dosis-semibold.ttf") format("truetype"), url("../fonts/dosis-semibold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dosis bold';
  src: url("../fonts/dosis-bold.eot");
  src: url("../fonts/dosis-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/dosis-bold.woff") format("woff"), url("../fonts/dosis-bold.ttf") format("truetype"), url("../fonts/dosis-bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dosis extrabold';
  src: url("../fonts/dosis-extrabold.eot");
  src: url("../fonts/dosis-extrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/dosis-extrabold.woff") format("woff"), url("../fonts/dosis-extrabold.ttf") format("truetype"), url("../fonts/dosis-extrabold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'chalk';
  src: url("../fonts/chalk.eot");
  src: url("../fonts/chalk.eot?#iefix") format("embedded-opentype"), url("../fonts/chalk.woff") format("woff"), url("../fonts/chalk.ttf") format("truetype"), url("../fonts/chalk.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body, html {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: 'dosis', sans-serif;
  font-weight: 400;
  color: #385572;
  overflow-x: hidden;
}

body {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  outline: 0;
  display: inline-block;
  transition: all 0.3s ease;
  color: #185e74;
}

a:hover, a:focus {
  color: inherit;
}

.dropdown-backdrop {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
}

h2, h3 {
  font-weight: normal;
}

.protectedPage {
  width: 11.5px;
  height: 14px;
  display: inline-block;
  margin-left: 3px;
  vertical-align: middle;
  background-size: cover;
  background-image: url("../images/lock-dark.png");
  background-position: center center;
}

.clock {
  display: none;
}

.clearfix:before, .clearfix:after, .clear:before, .clear:after {
  content: " ";
  display: table;
}

.clearfix:after, .clear:after {
  clear: both;
}

.FBLike iframe, .Tweet iframe {
  margin: 5px 0 0;
}

iframe {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mail {
  word-break: break-all;
}

#content_txt:before, #content_txt:after {
  content: " ";
  display: table;
}

#content_txt:after {
  clear: both;
}

caption {
  text-align: center;
  color: inherit;
  padding: 0;
}

input[type="submit"] {
  cursor: pointer;
}

input[type="file"] {
  display: none;
}

input[type="text"], input[type="password"] {
  border: 1px solid #99b8d8;
  height: 42px;
  line-height: 42px;
  padding: 0 10px;
  font-size: 1.6rem;
  color: #385572;
}

input[type="submit"], .button, button {
  background-size: cover;
  background-position: center center;
  background-color: transparent;
  text-transform: uppercase;
  color: #385572;
  border: 0;
  outline: 0;
}

input[type="submit"]:hover, .button:hover, button:hover {
  text-decoration: underline;
}

input[type="submit"]:focus, .button:focus, button:focus {
  text-decoration: none;
}

.keyboard-outline {
  outline: 2px solid green !important;
  outline-offset: 2px !important;
  text-decoration: none !important;
}

a:not([href]) {
  width: 0;
  height: 0;
  display: inline;
}

.buttonWrapper {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  background-image: url("../images/button-background1.png");
  display: block;
  width: 275px;
  height: 78px;
  cursor: pointer;
  font-size: 1.8rem;
  line-height: 78px;
}

.buttonWrapper > * {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 0;
  outline: 0;
  background-color: transparent;
  box-shadow: none;
  text-align: left;
  padding-left: 60px;
}

.buttonWrapper:before {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  width: 56px;
  height: 27px;
  background-image: url("../images/arrow-dark.png");
}

.dropdown-menu {
  float: none;
  border: 0;
  margin: 0;
  border-radius: 0;
  box-shadow: none;
  width: auto;
}

.dropdown-menu > li > a {
  white-space: normal;
}

.radio {
  margin: 0;
}

.radio + .radio {
  margin: 0;
}

.radio label, .radio input[type="radio"] {
  position: static;
  padding: 0;
  margin: 0;
}

.radio input[type="radio"] {
  margin: 0 0 0 5px !important;
}

.heading, #content_txt > h2 {
  font-size: 2.9rem;
  display: block;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 30px;
  padding: 0 0 20px;
  border-bottom: 1px dashed #385572;
}

#content_txt > h2 {
  margin-top: 30px;
}

.clock-container {
  display: none;
}

th {
  text-align: center;
}

@media (min-width: 992px) {
  .visible-mobile {
    display: none !important;
    padding: 0 !important;
    margin: 0 !important;
  }
}

@media (max-width: 991px) {
  .container {
    width: 100% !important;
  }
  .hidden-mobile {
    display: none !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  .visible-mobile {
    display: block;
  }
}

.main-nav {
  position: relative;
  z-index: 9;
  min-height: 150px;
  background-color: rgba(255, 255, 255, 0.8);
}

.main-nav:before {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #e3e3e3;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 57px;
}

.nav__holder--mobile {
  display: none;
  background-color: #bc3c49;
}

.nav__tools {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.nav__tools li {
  display: block;
  float: left;
}

.nav__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-size: 1.2rem;
  height: 57px;
  position: relative;
}

.nav__hamburger {
  display: none;
  margin: 18px 0;
  border: 0;
  background-color: transparent;
  padding: 5px;
  width: 40px;
  height: 33px;
  cursor: pointer;
  position: relative;
}

.nav__hamburger i {
  transition: all .3s ease;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
}

.nav__hamburger i:not(:last-of-type) {
  margin-bottom: 7px;
}

.nav__hamburger.active i:first-of-type {
  transform: rotate(45deg) translateX(8px) translateY(7px);
}

.nav__hamburger.active i:nth-of-type(2) {
  opacity: 0;
}

.nav__hamburger.active i:last-of-type {
  transform: rotate(-45deg) translateX(7px) translateY(-6px);
}

.nav__home {
  display: block;
  position: absolute;
  width: 56px;
  height: auto;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.nav__home img {
  transition: all .3s ease;
}

.nav__home img:hover {
  filter: saturate(4);
}

.nav__bip {
  display: block;
  margin: 0 30px 0 0;
}

.nav__bip img:first-child {
  display: inline;
}

.nav__bip img:last-child {
  display: none;
}

.nav__sitemap {
  display: block;
  line-height: 13px;
  margin: 0 45px 0 0;
  font-size: 1.2rem;
  font-family: 'dosis medium', sans-serif;
}

.nav__sitemap img {
  display: inline-block;
  margin-right: 5px;
}

.nav__contrast {
  display: block;
  line-height: 17px;
  margin: 0 30px 0 0;
}

.nav__contrast img {
  display: inline-block;
  margin-left: 5px;
  height: 17px;
  width: auto;
}

.nav__contrast img:last-of-type {
  display: none;
}

.nav__fonts {
  display: block;
  margin: 0 25px 0 0;
  padding: 0;
  font-size: 0;
}

.nav__fonts:before, .nav__fonts:after {
  content: " ";
  display: table;
}

.nav__fonts:after {
  clear: both;
}

.nav__fonts li {
  display: inline-block;
}

.nav__fonts li:not(:last-child) {
  margin-right: 7px;
}

.nav__fonts li a.medium {
  font-size: 18px;
}

.nav__fonts li a.big {
  font-size: 20px;
}

.nav__fonts li a.large {
  font-size: 22px;
}

.nav__fonts li a:hover, .nav__fonts li a:focus {
  text-decoration: none;
}

.nav__fonts li a span {
  display: inline-block;
}

.nav__content--mobile {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.nav__content--mobile > div {
  display: block;
}

.nav__search {
  width: 191px;
  height: 35px;
  font-size: 1.4rem;
  border: 1px solid #99b8d8;
}

.nav__search:after {
  content: '';
  clear: both;
  display: table;
}

.nav__search button {
  transition: all 0.3s ease;
  float: right;
  width: 33px;
  height: 33px;
  background-color: #385572;
  background-size: 21px 19px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  background-image: url("../images/nav/search-light.png");
  outline: 0;
  border: 0;
  font-size: 0;
  border-left: 1px solid #99b8d8;
}

.nav__search button:hover {
  background-color: #6b88a5;
}

.nav__search input {
  display: block;
  width: calc(100% - 33px);
  line-height: 33px;
  padding: 0 4px 0 14px;
  height: 33px;
  border: 0;
  outline: 0;
  float: left;
}

.nav__menu {
  display: block;
  float: left;
  text-align: center;
  min-height: 92px;
  padding: 2px 0 3px;
}

.nav__menu > ul {
  transform: translateX(-15px);
  padding: 0;
  margin: 0 0 0 15px;
  font-size: 0;
  text-align: left;
  display: block;
  text-transform: uppercase;
}

.nav__menu > ul:before, .nav__menu > ul:after {
  content: " ";
  display: table;
}

.nav__menu > ul:after {
  clear: both;
}

.nav__menu > ul > li {
  display: inline-block;
  vertical-align: top;
}

.nav__menu > ul > li:not(:last-child) {
  margin: 0 40px 0 0;
}

.nav__menu > ul > li > a {
  background-size: 0 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../images/nav/menu-hover.png");
  min-height: 88px;
  min-width: 112px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 1.3rem;
  line-height: 15px;
}

.nav__menu > ul > li > a .menu-icon {
  transform: translateY(5px);
}

.nav__menu > ul > li > a:hover, .nav__menu > ul > li > a:focus {
  background-size: 112px 88px;
  text-decoration: none;
}

.nav__menu > ul > li ul {
  display: none;
  z-index: 8;
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  margin: 0;
  width: 170px;
  border-color: rgba(255, 255, 255, 0.7);
  padding: 4px 18px 5px 15px;
}

.nav__menu > ul > li ul.active {
  display: block;
}

.nav__menu > ul > li ul li {
  display: block;
  font-size: 1.2rem;
}

.nav__menu > ul > li ul li:not(:last-child) {
  border-bottom: 1px solid #e2e8ef;
}

.nav__menu > ul > li ul li:last-child a {
  border-bottom-width: 0;
}

.nav__menu > ul > li ul li a {
  color: #565859;
  display: block;
  padding: 5px 4px;
  border-bottom: 1px solid #f9fafc;
}

.nav__menu > ul > li ul li a:hover, .nav__menu > ul > li ul li a:focus {
  text-decoration: none;
  background-color: #fff;
  color: #bc3c49;
}

@media (min-width: 992px) {
  .nav__tab--mobile {
    display: none !important;
    padding: 0 !important;
    margin: 0 !important;
  }
}

@media (max-width: 991px) {
  .nav__holder--mobile {
    display: block;
  }
  .nav__tab--mobile {
    display: block;
    height: 70px;
    background-color: #bc3c49;
  }
  .main-nav {
    min-height: 124px;
  }
  .nav__tools {
    display: inline-block;
  }
  .nav__hamburger {
    display: block;
  }
  .nav__sitemap {
    display: none;
  }
  .nav__fonts {
    display: none;
  }
  .nav__holder {
    min-height: 0;
  }
  .nav__holder > .col-xs-12 {
    position: static !important;
  }
  .nav__search {
    width: auto;
    position: relative;
    border: 0;
    float: left;
    margin: 3px 0 0;
  }
  .nav__search input {
    display: none;
  }
  .nav__search button {
    background-image: url("../images/nav/search-color2.png");
    background-size: 25px 23px;
    background-color: transparent;
    border-left: 0;
  }
  .nav__search button:hover {
    background-color: transparent;
  }
  .nav__search:before {
    content: '';
    width: 36px;
    height: 38px;
    top: 0;
    right: 0;
    position: absolute;
    display: block;
    cursor: pointer;
  }
  .nav__search.active input {
    position: absolute;
    display: block;
    top: 0;
    right: 44px;
    width: 180px;
    border: 1px solid #de6005;
  }
  .nav__home {
    display: block;
    position: static;
    width: 62px;
    transform: none;
    float: left;
    margin: 0;
    padding: 4px 0 0;
  }
  .nav__menu {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    padding: 0;
    width: 100%;
    height: auto;
    background-color: #185e74;
  }
  .nav__menu .protectedPage {
    background-image: url("../images/lock-light.png");
  }
  .nav__menu.active {
    display: block;
  }
  .nav__menu > ul {
    transform: none;
    margin: 0;
    padding: 3px 0;
    height: auto;
    text-align: center;
  }
  .nav__menu > ul > li {
    display: block;
  }
  .nav__menu > ul > li:not(:last-child) {
    margin-right: 0;
  }
  .nav__menu > ul > li > a {
    text-align: center;
    min-width: 100%;
    min-height: 0;
  }
  .nav__menu > ul > li > a .menu-icon {
    display: none;
  }
  .nav__menu > ul > li a {
    display: block;
    color: #fff;
    padding: 15px;
    background: transparent;
    border: 0;
  }
  .nav__menu > ul > li a:hover, .nav__menu > ul > li a:focus {
    background-color: #bc3c49;
  }
  .nav__menu > ul > li ul {
    position: static;
    padding: 0;
    width: 100%;
  }
  .nav__menu > ul > li ul li {
    width: 100%;
  }
  .nav__menu > ul > li ul li:not(:last-child) {
    border-bottom: 0;
  }
  .nav__menu > ul > li ul li a {
    padding: 15px;
    border: 0;
    background-color: #4b91a7;
    color: #fff;
    text-align: center;
    font-size: 1.3rem;
    line-height: 15px;
  }
  .nav__menu > ul > li ul li a:hover, .nav__menu > ul > li ul li a:focus {
    color: #fff;
    background-color: #bc3c49;
  }
  .nav__bip {
    float: left;
    margin: 16px 0 0 24px;
  }
  .nav__contrast {
    margin: 7px 16px 0;
    font-size: 0;
    line-height: auto;
    float: left;
    padding: 5px;
    position: relative;
  }
  .nav__contrast:before {
    content: '';
    width: 1px;
    height: 20px;
    background-color: #de6005;
    position: absolute;
    right: -10px;
    top: 4px;
  }
  .nav__contrast img {
    transform: none;
    margin: 0;
  }
  .nav__contrast img:first-of-type {
    display: none;
  }
  .nav__contrast img:last-of-type {
    transform: none;
    display: inline-block;
  }
  .nav__content {
    display: block;
  }
  .nav__content:before, .nav__content:after {
    content: " ";
    display: table;
  }
  .nav__content:after {
    clear: both;
  }
  .nav__content--mobile {
    display: block;
    float: right;
    margin: 10px 0 0;
  }
  .nav__content--mobile:before, .nav__content--mobile:after {
    content: " ";
    display: table;
  }
  .nav__content--mobile:after {
    clear: both;
  }
}

@media (max-width: 519px) {
  .nav__bip {
    margin-left: 10px;
  }
  .nav__bip img:first-child {
    display: none;
  }
  .nav__bip img:last-child {
    display: inline;
  }
}

.hero {
  height: 510px;
  position: relative;
  overflow: hidden;
  background-color: #fff;
}

.hero .col-xs-12, .hero .row, .hero .container-fluid {
  height: 100% !important;
}

.hero__address {
  display: none;
}

.hero__name {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: -ms-flexbox;
  display: flex;
  width: 443px;
  height: 194px;
  color: #e04d54;
  background-image: url("../images/hero/name.png");
  text-transform: uppercase;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  bottom: 5px;
  left: calc(50% + 130px);
  z-index: 5;
}

.hero__name h1 {
  transform: translateY(15px);
  font-family: 'dosis bold', sans-serif;
  font-size: 4.8rem;
  line-height: 54px;
  margin: 0;
  padding: 0 15px;
  display: block;
}

.hero__name .br {
  display: none;
}

.hero__name.hero__name--small h1 {
  font-size: 2.8rem;
  line-height: 30px;
}

.hero__background {
  position: absolute;
  background-repeat: repeat-x;
  background-position: 0% 0%;
  top: 0;
  bottom: 0;
  width: 1902px;
  background-image: url("../images/hero/hero-background.jpg");
}

.hero__background--left {
  right: calc(50% + 632px);
  background-position: top right;
}

.hero__background--right {
  left: calc(50% + 632px);
  background-position: top left;
}

.hero__holder {
  position: absolute;
  width: 1268px;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 633px);
}

.hero__holder:before {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  content: '';
  display: block;
  position: absolute;
  background-image: url("../images/hero/hero-mask-large.png");
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hero__carousel {
  position: absolute;
  left: calc(50% - 350px);
  top: 10px;
  bottom: 0;
  width: 700px;
  height: 100%;
}

.hero__slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 510px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .hero {
    height: 510px !important;
  }
  .hero__holder {
    height: 100% !important;
  }
}

@media (max-width: 1120px) {
  .hero__name {
    bottom: 25px;
    left: calc(50% + 145px);
    width: 320px;
    height: 140px;
  }
  .hero__name h1 {
    font-size: 2.6rem;
    line-height: 28px;
  }
  .hero__name.hero__name--small h1 {
    font-size: 1.9rem;
    line-height: 20px;
  }
}

@media (max-width: 991px) {
  .hero {
    height: 557px;
  }
  .hero__name {
    left: calc(50% + 50px);
  }
  .hero__name h1 {
    transform: translateY(10px);
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hero {
    height: 557px !important;
  }
}

@media (min-width: 768px) {
  .hero__holder {
    height: 100% !important;
  }
}

@media (max-width: 767px) {
  .hero {
    height: 563px;
  }
  .hero__background {
    display: none;
  }
  .hero__name {
    left: calc(50% - 95px);
  }
  .hero__holder {
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
  }
  .hero__holder:before {
    background-image: url("../images/hero/hero-mask-tablet.png");
  }
}

@media (max-width: 639px) {
  .hero__name {
    width: 308px;
    height: 135px;
    left: auto;
    top: auto;
    bottom: 2%;
    right: 5%;
  }
  .hero__holder:before {
    background-image: url("../images/hero/hero-mask-mobile.png");
  }
}

@media (max-width: 479px) {
  .hero__name {
    bottom: 1%;
    right: 5%;
  }
  .hero__slide {
    height: 320px;
  }
}

@media (max-width: 400px) {
  .hero__name {
    width: 230px;
    height: 101px;
  }
  .hero__name h1 {
    font-size: 1.5rem;
    line-height: 16px;
  }
  .hero__name.hero__name--small h1 {
    font-size: 1.4rem;
    line-height: 16px;
  }
}

.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}

.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.owl-carousel .owl-wrapper-outer.autoHeight {
  transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item {
  float: left;
}

.owl-controls .owl-page,
.owl-controls .owl-buttons div {
  cursor: pointer;
}

.owl-controls {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
}

.owl-carousel .owl-wrapper li {
  width: 100%;
  list-style-type: none;
  display: block;
}

.owl-theme .owl-controls {
  margin-top: 10px;
  text-align: center;
}

.owl-theme .owl-controls .owl-buttons div {
  color: #FFF;
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin: 5px;
  padding: 3px 10px;
  font-size: 12px;
  border-radius: 30px;
  background: #869791;
  filter: Alpha(Opacity=50);
  opacity: 0.5;
}

.owl-theme .owl-controls.clickable .owl-buttons div:hover {
  filter: Alpha(Opacity=100);
  opacity: 1;
  text-decoration: none;
}

.owl-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.owl-theme .owl-controls .owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  filter: Alpha(Opacity=50);
  opacity: 0.5;
  border-radius: 20px;
  background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  filter: Alpha(Opacity=100);
  opacity: 1;
}

.owl-theme .owl-controls .owl-page span.owl-numbers {
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  border-radius: 30px;
}

.owl-item.loading {
  min-height: 150px;
  background: url(../images/AjaxLoader.gif) no-repeat center center;
}

.owl-origin {
  -webkit-perspective: 1200px;
  -webkit-perspective-origin-x: 50%;
  -webkit-perspective-origin-y: 50%;
  -moz-perspective: 1200px;
  -moz-perspective-origin-x: 50%;
  -moz-perspective-origin-y: 50%;
  perspective: 1200px;
}

.owl-fade-out {
  z-index: 10;
  animation: fadeOut .7s both ease;
}

.owl-fade-in {
  animation: fadeIn .7s both ease;
}

.owl-backSlide-out {
  animation: backSlideOut 1s both ease;
}

.owl-backSlide-in {
  animation: backSlideIn 1s both ease;
}

.owl-goDown-out {
  animation: scaleToFade .7s ease both;
}

.owl-goDown-in {
  animation: goDown .6s ease both;
}

.owl-fadeUp-in {
  animation: scaleUpFrom .5s ease both;
}

.owl-fadeUp-out {
  animation: scaleUpTo .5s ease both;
}

.owl-fadeDown-in {
  animation: scaleDownFrom .5s ease both;
}

.owl-fadeDown-out {
  animation: scaleDownTo .5s ease both;
}

.owl-goUp-out {
  animation: scaleToFade .7s ease both;
}

.owl-goUp-in {
  animation: goUp .6s ease both;
}

@keyframes empty {
  0% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes backSlideOut {
  25% {
    opacity: .5;
    transform: translateZ(-500px);
  }
  75% {
    opacity: .5;
    transform: translateZ(-500px) translateX(-200%);
  }
  100% {
    opacity: .5;
    transform: translateZ(-500px) translateX(-200%);
  }
}

@keyframes backSlideIn {
  0%, 25% {
    opacity: .5;
    transform: translateZ(-500px) translateX(200%);
  }
  75% {
    opacity: .5;
    transform: translateZ(-500px);
  }
  100% {
    opacity: 1;
    transform: translateZ(0) translateX(0);
  }
}

@keyframes scaleToFade {
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}

@keyframes goDown {
  from {
    transform: translateY(-100%);
  }
}

@keyframes goUp {
  from {
    transform: translateY(100%);
  }
}

@keyframes scaleUpFrom {
  from {
    opacity: 0;
    transform: scale(1.5);
  }
}

@keyframes scaleDownFrom {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
}

@keyframes scaleUpTo {
  to {
    opacity: 0;
    transform: scale(1.5);
  }
}

@keyframes scaleDownTo {
  to {
    opacity: 0;
    transform: scale(0.5);
  }
}

.headmodules {
  background-color: #bc3c49;
  padding: 42px 0;
}

.headmodules__holder {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
}

.headmodules__holder a {
  color: #fff;
}

.headmodules__holder ul {
  margin: 0;
  padding: 0;
}

.headmodules__holder > li {
  display: block;
  color: #fff;
  width: 25%;
  padding: 0 50px;
}

.headmodules__holder > li p {
  margin: 0;
}

.headmodules__holder > li h2 {
  position: relative;
  padding: 0 0 20px;
}

.headmodules__holder > li h2:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 55px;
  height: 2px;
  background-color: #fce854;
}

.headmodules__holder .module_icon {
  width: 144px;
  height: 110px;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/headmodules-holder.png");
  position: relative;
  transition: all .3s ease;
}

.headmodules__holder .module_icon:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;
}

.headmodules__holder .module_icon:hover a {
  text-decoration: underline;
}

.headmodules__holder #mod_calendar .module_icon:before {
  background-image: url("../images/icons/icon1-big.png");
}

.headmodules__holder #mod_menu .module_icon:before {
  background-image: url("../images/icons/icon7-big.png");
}

.headmodules__holder #mod_programs .module_icon:before {
  background-image: url("../images/icons/icon14-big.png");
}

.headmodules__holder #mod_stats .module_icon:before {
  background-image: url("../images/icons/icon2-big.png");
}

.headmodules__holder #mod_login legend {
  display: none;
}

.headmodules__holder #mod_login label {
  display: block;
  padding: 2px 20px 0;
  margin: 0;
  text-align: left;
}

.headmodules__holder #mod_login input[type="text"], .headmodules__holder #mod_login input[type="password"] {
  line-height: 30px;
  height: 32px;
  width: calc(100% - 40px);
  margin: 0 20px 5px;
}

.headmodules__holder #mod_login .buttonWrapper {
  width: 145px;
  height: 45px;
  font-size: 1.8rem;
  line-height: 45px;
  background-image: url("../images/button-submit-background.png");
  display: block;
  margin: 10px 0 0 20px;
}

.headmodules__holder #mod_login .buttonWrapper:before {
  display: none;
}

.headmodules__holder #mod_login .buttonWrapper input[type="submit"] {
  padding-left: 0;
  text-align: center;
}

.headmodules__holder #mod_kzk {
  padding: 0 15px;
}

.headmodules__holder #mod_kzk .module_icon:before {
  background-image: url("../images/icons/icon3-big.png");
}

.headmodules__holder #mod_location .module_icon:before {
  background-image: url("../images/icons/icon4-big.png");
}

.headmodules__holder #mod_gallery .module_icon:before {
  background-image: url("../images/icons/icon5-big.png");
}

.headmodules__holder #mod_newsletter .module_icon:before {
  background-image: url("../images/icons/icon6-big.png");
}

.headmodules__holder #mod_timetable .module_icon:before {
  background-image: url("../images/icons/icon13-big.png");
}

.headmodules__holder #mod_contact .module_icon:before {
  background-image: url("../images/icons/icon9-big.png");
}

.headmodules__holder #mod_video .module_icon:before {
  background-image: url("../images/icons/icon10-big.png");
}

.headmodules__holder #mod_jokes .module_icon:before {
  background-image: url("../images/icons/icon11-big.png");
}

.headmodules__holder #mod_login .module_icon:before {
  background-image: url("../images/icons/icon12-big.png");
}

@media (max-width: 1199px) {
  .headmodules__holder > li {
    padding: 0 25px;
  }
  .headmodules__holder > li h2 {
    font-size: 2.5rem;
    padding-bottom: 10px;
  }
}

@media (max-width: 991px) {
  .headmodules {
    width: calc(100% + 30px);
    transform: translateX(-15px);
    padding: 32px 0 0;
  }
  .headmodules__holder {
    display: block;
    font-size: 0;
    text-align: center;
    width: 560px;
    margin: 0 auto;
  }
  .headmodules__holder > li {
    margin: 0 0 40px;
    display: inline-block;
    vertical-align: top;
    width: 280px;
    font-size: 1.4rem;
  }
  .headmodules__holder #mod_login .buttonWrapper {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 639px) {
  .headmodules__holder {
    width: 450px;
  }
  .headmodules__holder > li {
    width: 225px;
    margin: 0 0 30px;
  }
}

@media (max-width: 479px) {
  .headmodules {
    padding: 30px 0 10px;
  }
  .headmodules__holder {
    width: 100%;
  }
  .headmodules__holder > li {
    width: 280px;
    display: block;
    margin: 0 auto 20px auto;
  }
  .headmodules__holder #mod_kzk {
    padding: 0 25px;
  }
}

.modules-main > ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding: 0;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.modules-main > ul > li {
  display: block;
  position: relative;
  width: 280px;
  height: 212px;
  margin: 0 5px;
}

.modules-main > ul > li > div {
  background-repeat: no-repeat;
  background-image: url("../images/module-main-desktop.png");
  background-size: cover;
  position: absolute;
  text-align: left;
  z-index: 2;
  width: 247px;
  height: 188px;
  left: 0;
  bottom: 0;
  padding: 42px 20px 20px 26px;
  transition: all .3s ease;
}

.modules-main > ul > li > div:hover a {
  text-decoration: underline;
}

.modules-main > ul > li > div:before, .modules-main > ul > li > div:after {
  background-repeat: no-repeat;
  content: '';
  display: block;
  position: absolute;
  background-position: center center;
  transform: all .3s ease;
  top: -25px;
  right: -30px;
  width: 109px;
  height: 84px;
}

.modules-main > ul > li > div:before {
  background-size: auto;
  z-index: 2;
  transform: scale(0.95);
}

.modules-main > ul > li > div:after {
  z-index: 1;
  background-size: cover;
  background-image: url("../images/module-main-symbol.png");
}

.modules-main > ul > li > div h2 {
  text-transform: uppercase;
  text-align: left;
  margin: 0 0 30px;
  font-size: 2.2rem;
  line-height: 24px;
}

.modules-main > ul > li > div a, .modules-main > ul > li > div p {
  color: #fff;
  margin: 0 0 0 35px;
  font-size: 1.4rem;
  line-height: 16px;
  text-align: left;
}

.modules-main > ul > li > div a {
  display: inline-block;
}

.modules-main > ul > li > div a:hover {
  text-decoration: underline;
}

.modules-main > ul > li > div a.keyboard-outline {
  outline-color: #eee !important;
}

.modules-main > ul > li #mod_forum:before {
  background-image: url("../images/icons/icon8-big.png");
}

.modules-main > ul > li #mod_forum #modForum, .modules-main > ul > li #mod_forum .bolder {
  display: none;
}

.modules-main > ul > li #mod_forum .button {
  text-transform: none;
  margin: 0;
  color: #fff;
  display: inline-block;
  margin: 0 0 0 30px;
  font-size: 1.4rem;
  line-height: 16px;
  text-align: left;
}

.modules-main > ul > li #mod_gallery:before {
  background-image: url("../images/icons/icon5-big.png");
}

.modules-main > ul > li #mod_video:before {
  background-image: url("../images/icons/icon10-big.png");
}

.modules-main > ul > li #mod_contact:before {
  background-image: url("../images/icons/icon9-big.png");
}

.modules-main > ul > li #mod_jokes:before {
  background-image: url("../images/icons/icon11-big.png");
}

.modules-main > ul > li #mod_menu:before {
  background-image: url("../images/icons/icon7-big.png");
}

.modules-main > ul > li #mod_newsletter:before {
  background-image: url("../images/icons/icon6-big.png");
}

.modules-main > ul > li #mod_location:before {
  background-image: url("../images/icons/icon4-big.png");
  transform: scale(0.85);
}

.modules-main > ul > li #mod_timetable:before {
  background-image: url("../images/icons/icon13-big.png");
}

#modulesBottom {
  margin-top: 20px;
}

@media (max-width: 1199px) {
  .modules-main > ul > li {
    width: 232px;
    height: 176px;
  }
  .modules-main > ul > li > div {
    width: 204px;
    height: 155px;
    padding: 29px 20px 20px 19px;
  }
  .modules-main > ul > li > div:before {
    transform: scale(0.75);
  }
  .modules-main > ul > li > div:hover:before {
    transform: scale(0.75) rotate(-3deg);
  }
  .modules-main > ul > li > div:before, .modules-main > ul > li > div:after {
    width: 96px;
    height: 74px;
  }
  .modules-main > ul > li > div h2 {
    margin: 0 0 18px;
  }
  .modules-main > ul > li > div a, .modules-main > ul > li > div p {
    font-size: 1.3rem;
    line-height: 14px;
    margin: 0 0 0 38px;
  }
  .modules-main > ul > li > #mod_forum .button {
    font-size: 1.3rem;
    line-height: 14px;
  }
  .modules-main > ul > li #mod_location:before {
    transform: scale(0.75);
  }
}

@media (min-width: 992px) {
  .modules-main > ul > li.modulesLeftMain {
    display: none;
  }
}

@media (max-width: 991px) {
  .modules-main {
    margin: 20px 0;
  }
  .modules-main > ul {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .modules-main > ul > li {
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    width: 50%;
    max-width: 50%;
    margin: 0;
    height: auto;
    padding: 15px;
    display: block;
  }
  .modules-main > ul > li:after {
    content: '';
    position: absolute;
    display: block;
    width: 78px;
    z-index: 2;
    height: 18px;
    bottom: 35px;
    right: 35px;
    background-size: cover;
    background-image: url("../images/arrow-right2.png");
  }
  .modules-main > ul > li > div {
    position: relative;
    background-image: none;
    padding: 12px 20px 5px 108px;
    height: 100px;
    width: 100%;
    border-radius: 20px;
    background-color: #185e74;
  }
  .modules-main > ul > li > div:before {
    z-index: 2;
  }
  .modules-main > ul > li > div:before, .modules-main > ul > li > div:after {
    left: 0;
    top: 0;
  }
  .modules-main > ul > li > div h2 {
    margin: 0 0 5px;
  }
  .modules-main > ul > li > div a, .modules-main > ul > li > div p, .modules-main > ul > li > div .button {
    margin: 0;
    padding: 0 83px 0 0;
  }
  .modules-main > ul > li > #mod_forum .button {
    margin: 0;
  }
  .modules-main > ul > li > #mod_contact h2 {
    margin: 0;
  }
  .modules-main > ul > li > #mod_contact p {
    font-size: 1.2rem;
    line-height: 13px;
  }
  .modules-main > ul > li > #mod_newsletter a, .modules-main > ul > li > #mod_newsletter p {
    font-size: 1.1rem;
    line-height: 13px;
    padding-right: 80px;
  }
}

@media (max-width: 767px) {
  .modules-main > ul > li {
    width: 100%;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    max-width: 100%;
  }
  .modules-main > ul > li > div {
    height: 110px;
    padding-top: 18px;
  }
  .modules-main > ul > li > #mod_contact h2 {
    margin: 0 0 5px;
  }
}

@media (max-width: 479px) {
  .modules-main {
    transform: none;
    width: 100%;
  }
  .modules-main > ul > li:after {
    display: none;
  }
  .modules-main > ul > li > div {
    padding: 20px 25px;
  }
  .modules-main > ul > li > div:before, .modules-main > ul > li > div:after {
    display: none;
  }
  .modules-main > ul > li > div a, .modules-main > ul > li > div p, .modules-main > ul > li > div .button {
    padding: 0;
  }
  .modules-main > ul > li > div h2 {
    margin: 0 0 10px;
  }
}

.article {
  position: relative;
  min-height: 222px;
  display: block;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin: 25px 0 46px;
  background-color: #fff;
}

.article.article--highlighted .article__content, .article.article--highlighted .article__image {
  background-color: #bc3c49;
  color: #fff;
}

.article.article--highlighted .article__content h4 a {
  color: #fff;
}

.article.article--highlighted .article__link {
  background-image: url("../images/button-background1.png");
  color: #385572;
}

.article.article--highlighted .article__link:before {
  background-image: url("../images/arrow-dark.png");
}

.article__content {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #ebebeb;
  padding: 25px 102px 70px 25px;
  float: right;
  color: #385572;
  border-radius: 25px;
}

.article__content h4 {
  text-transform: uppercase;
  font-size: 2.1rem;
  line-height: 23px;
  margin: 0 0 20px;
  padding-right: 90px;
}

.article__content h4 a {
  color: #385572;
}

.article__content p {
  font-size: 1.6rem;
  margin: 0;
}

.article__image {
  display: block;
  width: 350px;
  overflow: hidden;
  position: relative;
  background-color: #ebebeb;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.article__image div {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.article__image div img {
  position: relative;
  z-index: 1;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  display: block;
  transition: all .3s ease;
}

.article__image:hover div img {
  transform: scale(1.1);
}

.article__image + .article__content {
  display: block;
  width: calc(100% - 350px);
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.article__date {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  z-index: 3;
  width: 109px;
  height: 84px;
  padding: 0 5px;
  font-size: 1.6rem;
  text-align: center;
  line-height: 84px;
  bottom: -6px;
  left: -24px;
  color: #385572;
  background-image: url("../images/article-date.png");
}

.article__link {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 275px;
  height: 78px;
  right: -4px;
  bottom: -21px;
  text-transform: uppercase;
  font-size: 1.8rem;
  padding: 0 0 0 35px;
  line-height: 78px;
  position: absolute;
  display: block;
  color: #fff;
  background-image: url("../images/button-article-background.png");
}

.article__link:before {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  content: '';
  position: absolute;
  top: 50%;
  right: 35px;
  transform: translateY(-50%);
  width: 56px;
  height: 27px;
  background-image: url("../images/arrow-white.png");
}

.article__link:hover {
  color: #fff;
}

@media (max-width: 1199px) {
  .article__image {
    width: 250px;
  }
  .article__image + .article__content {
    width: calc(100% - 250px);
  }
}

@media (max-width: 991px) {
  .articles {
    padding: 0 20px;
  }
}

@media (max-width: 799px) {
  .article__image {
    display: none;
  }
  .article__image + .article__content {
    width: 100%;
    border-radius: 25px;
  }
  .article__content {
    padding: 45px 40px 70px 25px;
  }
  .article__date {
    background-image: none;
    width: auto;
    height: auto;
    line-height: 20px;
    bottom: auto;
    right: 50px;
    top: 46px;
    left: auto;
  }
  .article.article--highlighted .article__date {
    color: #fff;
  }
}

@media (max-width: 767px) {
  .article {
    margin: 30px 0;
  }
}

@media (max-width: 479px) {
  .article__date {
    padding: 0;
    position: static;
    text-align: left;
    margin: 0 0 10px;
  }
  .article__content h4 {
    padding-right: 0;
    text-align: left;
    margin: 0 0 10px;
  }
}

.aside .module_content {
  text-align: center;
}

.aside .module_content:before, .aside .module_content:after {
  content: " ";
  display: table;
}

.aside .module_content:after {
  clear: both;
}

.aside a {
  color: inherit;
  transition: all 0.3s ease;
}

.aside #mod_calendar2 {
  text-align: center;
  font-size: 1.2rem;
  line-height: 15px;
}

.aside #mod_calendar2 .caption_nav_prev, .aside #mod_calendar2 .caption_nav_next {
  display: block;
  position: relative;
  background-image: url("../images/arrow-right.png");
  background-size: cover;
  width: 15px;
  height: 27px;
  font-size: 0;
  z-index: 2;
}

.aside #mod_calendar2 .caption_nav_prev a, .aside #mod_calendar2 .caption_nav_next a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.aside #mod_calendar2 .caption_nav_prev a:hover, .aside #mod_calendar2 .caption_nav_next a:hover {
  background-color: transparent;
}

.aside #mod_calendar2 .caption_nav_prev {
  transform: rotate(180deg);
  float: left;
  margin-left: 20px;
}

.aside #mod_calendar2 .caption_nav_next {
  float: right;
  margin-right: 20px;
}

.aside #mod_calendar2 .module_content {
  padding: 24px 12px 12px;
}

.aside #mod_calendar2 #calendarNews {
  position: relative;
}

.aside #mod_calendar2 .calendar {
  border-collapse: collapse;
  border: 5px solid #fff;
  margin: 0 auto;
  width: 230px;
}

.aside #mod_calendar2 .calendar caption {
  transform: translateY(-20px);
  text-transform: uppercase;
  font-size: 2.1rem;
}

.aside #mod_calendar2 .calendar th {
  height: 30px;
  font-weight: 400;
  background-color: #f6f6f6;
  vertical-align: middle;
}

.aside #mod_calendar2 .calendar td {
  height: 25px;
  background-color: #f6f6f6;
  border: 1px solid #fff;
  vertical-align: middle;
}

.aside #mod_calendar2 .calendar td.pr_day {
  background-color: #185e74;
  color: #fff;
}

.aside #mod_calendar2 .calendar td.imp_day {
  background-color: #fce854;
  color: #basic;
}

.aside #mod_calendar2 .calendar td.imp_day a:hover {
  text-decoration: none;
  background-color: #bc3c49;
}

.aside #mod_calendar2 .calendar a {
  display: block;
  width: 100%;
  height: 25px;
  line-height: 25px;
  color: inherit;
}

.aside #mod_weather {
  background-color: #185e74;
  color: #fff;
  border: 0;
}

.aside #mod_weather h2 {
  background-color: #fff;
  z-index: 2;
  position: relative;
  border-radius: 0;
  border-bottom: 1px dashed #6c97ba;
  margin: 0;
  padding: 0;
}

.aside #mod_weather h2 span {
  display: block;
  text-align: center;
  margin: 0;
  border-radius: 40px;
  padding: 20px;
  color: #fff;
  text-transform: uppercase;
  font-size: 2.9rem;
  line-height: 31px;
  background-color: #185e74;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.aside #mod_weather h2:before, .aside #mod_weather h2:after {
  content: '';
  position: absolute;
  width: 1px;
  height: 50%;
  background-color: #fff;
  display: block;
  top: 0;
  bottom: 50%;
}

.aside #mod_weather h2:before {
  left: -1px;
}

.aside #mod_weather h2:after {
  right: -1px;
}

.aside #mod_weather .module_content {
  padding-bottom: 20px;
}

.aside #mod_weather .weatherParam.cloned {
  display: none;
}

.aside #mod_weather .weatherLoc {
  font-size: 1.8rem;
}

.aside #mod_weather .weatherTemp {
  font-size: 3rem;
}

.aside #mod_weather li {
  display: block;
  margin: 2px 0;
  font-size: 1.3rem;
}

.aside #mod_login {
  margin: 0 0 70px;
  padding: 0 0 10px;
}

.aside #mod_login legend {
  display: none;
}

.aside #mod_login label, .aside #mod_login input[type="text"], .aside #mod_login input[type="password"] {
  text-align: left;
  width: 100%;
  display: block;
}

.aside #mod_login label {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 20px;
  margin: 0 0 8px;
}

.aside #mod_login input[type="text"], .aside #mod_login input[type="password"] {
  height: 44px;
  line-height: 42px;
}

.aside #mod_login .module_content {
  padding: 32px;
}

.aside #mod_login .buttonWrapper {
  position: absolute;
  left: -3px;
  bottom: -43px;
  display: block;
  width: 249px;
  height: 78px;
  background-image: url("../images/button-background2.png");
  background-size: cover;
  color: #385572;
  font-size: 1.8rem;
  line-height: 78px;
  text-align: left;
}

.aside #mod_questionnaire {
  margin: 0 0 70px;
  padding: 0 0 20px;
}

.aside #mod_questionnaire p {
  margin: 0 0 20px;
}

.aside #mod_questionnaire li {
  text-align: left;
}

.aside #mod_questionnaire .label {
  padding: 0 0 0 5px;
  color: #385572;
}

.aside #mod_questionnaire .buttonWrapper {
  position: absolute;
  left: -10px;
  bottom: -45px;
  display: block;
  width: 275px;
  height: 78px;
  background-image: url("../images/button-background1.png");
  background-size: cover;
  color: #385572;
  font-size: 1.8rem;
  line-height: 78px;
  text-align: left;
}

.aside #mod_questionnaire .buttonWrapper > * {
  padding: 0 0 0 60px;
}

.aside #mod_questionnaire .buttonWrapper:before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  width: 56px;
  height: 27px;
  background-size: cover;
  background-image: url("../images/arrow-dark.png");
  background-repeat: no-repeat;
}

.aside #mod_forum {
  position: relative;
  border: 0;
  min-height: 225px;
  background-repeat: no-repeat;
  background-image: url("../images/module-main-desktop.png");
  background-size: auto;
  background-position: bottom left;
  text-align: left;
  margin: 20px 0 40px;
  padding: 42px 20px 20px 26px;
  transition: all .3s ease;
}

.aside #mod_forum:hover a {
  text-decoration: underline;
}

.aside #mod_forum .module_icon {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../images/module-main-symbol.png");
  top: 10px;
  right: -20px;
  width: 109px;
  height: 84px;
  position: absolute;
  background-repeat: no-repeat;
  z-index: 2;
}

.aside #mod_forum .module_icon:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 50% 70%;
  z-index: 2;
  transform: scale(0.95);
  background-image: url("../images/icons/icon8-big.png");
}

.aside #mod_forum h2 {
  background-color: transparent;
  padding: 0;
  margin: 32px 0 0;
}

.aside #mod_forum h2 span {
  font-size: 2.2rem;
  padding: 0;
  background-color: inherit;
  line-height: 24px;
  position: static;
  text-align: left;
  display: block;
}

.aside #mod_forum h2:before, .aside #mod_forum h2:after {
  display: none;
}

.aside #mod_forum .button {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  display: block;
  bottom: -20px;
  right: 0;
  width: 172px;
  height: 53px;
  padding: 0 8px;
  line-height: 53px;
  text-align: right;
  background-image: url("../images/button-background3.png");
}

.aside #mod_forum #modForum, .aside #mod_forum .bolder {
  display: none;
}

.aside #mod_contact {
  position: relative;
  border: 0;
  min-height: 212px;
  width: 280px;
  background-repeat: no-repeat;
  background-image: url("../images/module-main-desktop.png");
  background-size: auto;
  background-position: bottom left;
  text-align: left;
  margin: 20px 0 40px;
  padding: 42px 20px 20px 26px;
  transition: all .3s ease;
}

.aside #mod_contact:hover a {
  text-decoration: underline;
}

.aside #mod_contact .module_icon {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../images/module-main-symbol.png");
  top: 0;
  right: 0;
  width: 109px;
  height: 84px;
  position: absolute;
  background-repeat: no-repeat;
  z-index: 2;
}

.aside #mod_contact .module_icon:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 50% 70%;
  z-index: 2;
  transform: scale(0.95);
  background-image: url("../images/icons/icon9-big.png");
}

.aside #mod_contact .module_content {
  position: absolute;
  bottom: 5px;
  width: 200px;
  left: 60px;
}

.aside #mod_contact h2 {
  background-color: transparent;
  padding: 0;
  margin: 20px 0 0;
}

.aside #mod_contact h2 span {
  font-size: 2.2rem;
  padding: 0;
  background-color: inherit;
  line-height: 24px;
  position: static;
  text-align: left;
  display: block;
}

.aside #mod_contact h2:before, .aside #mod_contact h2:after {
  display: none;
}

.aside #mod_contact p {
  color: #fff;
  margin: 0;
  text-align: left;
}

.aside__modules > * {
  position: relative;
  border-left: 1px solid #dfeaf6;
  border-right: 1px solid #dfeaf6;
  border-bottom: 1px solid #dfeaf6;
  margin: 25px 0;
}

.aside__modules > * h2 {
  text-align: center;
  display: block;
  margin: 0;
  position: relative;
}

.aside__modules > * h2 span {
  border-radius: 40px;
  padding: 20px;
  color: #fff;
  text-transform: uppercase;
  font-size: 2.9rem;
  line-height: 31px;
  background-color: #185e74;
  display: block;
}

.aside__modules > * h2:before, .aside__modules > * h2:after {
  content: '';
  position: absolute;
  width: 1px;
  height: 50%;
  background-color: #fff;
  display: block;
  top: 0;
  bottom: 50%;
}

.aside__modules > * h2:before {
  left: -1px;
}

.aside__modules > * h2:after {
  right: -1px;
}

.aside__modules > * .module_content {
  margin: 0;
  padding: 20px 12px 12px;
}

.aside__modules > * ul {
  padding: 0;
  margin: 0;
}

.aside__menu {
  margin: 30px 0 20px;
}

.aside__menu .dropdown-menu {
  position: static;
}

.aside__menu .dropdown-menu > li > a:focus {
  background-color: transparent;
}

.aside__menu > ul {
  margin: 25px 0;
  padding: 0;
}

.aside__menu > ul > li > a {
  border-radius: 25px;
  position: relative;
}

.aside__menu > ul > li > a.selected, .aside__menu > ul > li > a:focus, .aside__menu > ul > li > a:hover {
  background-color: #bc3c49 !important;
  color: #fff;
  text-decoration: none;
}

.aside__menu li > ul {
  padding: 0 0 0 5px;
}

.aside__menu li > ul li a {
  background-color: #d2f3fb;
  border-radius: 25px;
  color: #385572;
}

.aside__menu li > ul li a.selected, .aside__menu li > ul li a:hover, .aside__menu li > ul li a:focus {
  background-color: #bc3c49 !important;
  text-decoration: none;
  color: #fff;
}

.aside__menu li > a {
  color: #385572;
  min-height: 38px;
  line-height: 18px;
  font-size: 1.8rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 4px 15px;
}

.aside__menu .heading {
  margin: 20px 0 0;
}

.aside__menu .heading:first-of-type {
  margin-top: 0;
}

@media (max-width: 1199px) {
  .aside #mod_forum {
    background-size: contain;
    padding: 95px 0 20px 20px;
  }
  .aside #mod_forum .module_icon {
    top: 34px;
    transform: scale(0.92);
  }
  .aside #mod_forum .module_icon:before {
    background-position: 50% 60%;
  }
  .aside #mod_forum h2, .aside #mod_forum p {
    margin: 0;
  }
  .aside #mod_forum p {
    word-break: break-all;
  }
  .aside #mod_contact {
    background-size: contain;
    height: 160px;
    width: 212px;
    padding: 70px 0 20px 20px;
  }
  .aside #mod_contact .module_icon {
    top: 0;
  }
  .aside #mod_contact .module_content {
    bottom: 25px;
    left: 22px;
    font-size: 1.2rem;
    line-height: 13px;
    padding: 26px 18px 12px 32px;
  }
  .aside #mod_contact h2 {
    margin: 0;
    transform: translateY(10px);
  }
  .aside #mod_contact p {
    margin: 0;
    transform: translateY(10px);
    word-break: break-all;
  }
  .aside #mod_calendar2 .calendar {
    width: 186px;
  }
  .aside #mod_login .buttonWrapper {
    width: 210px;
    height: 66px;
    line-height: 66px;
  }
  .aside #mod_login .buttonWrapper > * {
    padding: 0 0 0 30px;
  }
  .aside #mod_questionnaire .buttonWrapper {
    width: 220px;
    height: 62px;
    line-height: 62px;
    bottom: -40px;
  }
  .aside #mod_questionnaire .buttonWrapper > * {
    padding: 0 0 0 30px;
  }
  .aside #mod_questionnaire .buttonWrapper:before {
    transform: scale(0.8) translateY(-50%);
    right: 20px;
  }
}

@media (min-width: 992px) {
  .aside__modules > * {
    height: auto !important;
  }
}

@media (max-width: 991px) {
  .aside #mod_contact, .aside #mod_forum {
    display: none;
  }
  .aside #mod_login .module_content {
    margin: 0 20px;
  }
  .aside #mod_login .module_content form {
    width: 100%;
  }
  .aside #mod_login .buttonWrapper {
    width: 190px;
    height: 60px;
    left: auto;
    right: -15px;
    bottom: -20px;
    font-size: 1.6rem;
    line-height: 60px;
  }
  .aside #mod_weather {
    box-shadow: none !important;
  }
  .aside #mod_weather ul {
    padding: 0 15px;
  }
  .aside #mod_weather #weatherInfo {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .aside #mod_weather .weatherParam li {
    display: none;
  }
  .aside #mod_weather .weatherParam li.weatherLoc, .aside #mod_weather .weatherParam li.weatherTemp, .aside #mod_weather .weatherParam li.weatherIco {
    display: block;
  }
  .aside #mod_weather .weatherParam.cloned {
    display: block;
  }
  .aside #mod_weather .weatherParam.cloned li {
    display: block;
  }
  .aside #mod_weather .weatherParam.cloned li.weatherLoc, .aside #mod_weather .weatherParam.cloned li.weatherTemp, .aside #mod_weather .weatherParam.cloned li.weatherIco {
    display: none;
  }
  .aside #mod_weather h2 {
    width: 100%;
  }
  .aside #mod_weather h2:before {
    display: none;
  }
  .aside #mod_weather h2 span {
    height: auto;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .aside #mod_questionnaire .module_content {
    display: block;
    margin: 20px 20px 0;
  }
  .aside #mod_questionnaire .buttonWrapper {
    left: auto;
    font-size: 1.6rem;
    right: -15px;
    bottom: -24px;
    width: 190px;
    height: 54px;
    line-height: 54px;
  }
  .aside #mod_calendar2 .calendar {
    width: 202px;
  }
  .aside #mod_calendar2 .caption_nav_prev, .aside #mod_calendar2 .caption_nav_next {
    position: absolute;
    top: -25px;
  }
  .aside #mod_calendar2 .caption_nav_prev {
    left: calc(50% - 117px);
  }
  .aside #mod_calendar2 .caption_nav_next {
    right: calc(50% - 117px);
  }
  .aside__modules {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .aside__modules > * {
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    width: calc(50% - 30px);
    margin: 15px 0 !important;
    border: 15px solid #fff !important;
    border-bottom-width: 7px !important;
    border-top-width: 7px !important;
    box-shadow: inset 0px 0px 1px 1px #dfeaf6;
  }
  .aside__modules > * .module_content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column;
    height: calc(100% - 40px);
  }
  .aside__modules > * h2 {
    width: calc(100% + 2px);
  }
  .aside__modules > * h2 span {
    border: 1px solid #84a9b5;
    height: 39px;
    line-height: 37px;
    font-size: 2.6rem;
    padding: 0;
    border-radius: 12px;
    position: relative;
    z-index: 2;
  }
  .aside__modules > * h2:before {
    content: '';
    z-index: 1;
    display: block;
    position: absolute;
    top: 0;
    bottom: 50%;
    left: 0;
    right: 0;
    width: 100%;
    height: 50%;
    background-color: #fff;
  }
  .aside__modules > li#mod_programs {
    list-style-type: none;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  .aside__modules > li#mod_programs:before {
    content: '';
    z-index: 1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 19px;
    background-color: #fff;
  }
  .aside__modules > li#mod_programs h2 {
    width: calc(100% + 26px);
    border: 1px solid #84a9b5;
    height: 39px;
    background-color: #185e74;
    line-height: 37px;
    font-size: 2.6rem;
    text-transform: uppercase;
    padding: 0;
    margin: 0 0 20px;
    color: #fff;
    border-radius: 12px;
    position: relative;
    z-index: 2;
  }
  .aside__modules > li#mod_programs h2:before, .aside__modules > li#mod_programs h2:after {
    display: none;
  }
}

@media (max-width: 767px) {
  .aside__modules > * {
    height: auto !important;
  }
  .aside__modules > * .module_content {
    padding: 20px;
  }
  .aside__modules > li#mod_programs h2 {
    width: calc(100% + 42px);
  }
  .aside #mod_weather ul {
    padding: 0;
  }
  .aside #mod_weather .module_content {
    height: calc(100% - 74px);
  }
  .aside #mod_weather .weatherParam {
    margin: 0 15px;
  }
  .aside #mod_calendar2 .module_content {
    margin: 15px 0 0;
  }
  .aside #mod_questionnaire .module_content {
    margin: 0 20px;
  }
}

@media (max-width: 639px) {
  .aside__modules {
    display: -ms-flexbox;
    display: flex;
    padding: 0 15px;
  }
  .aside__modules > * {
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    width: 100%;
  }
  .aside__modules > li#mod_programs {
    border-left-width: 0 !important;
    border-right-width: 0 !important;
  }
  .aside #mod_weather h2 span {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    line-height: 47px;
    height: 47px;
    padding: 0;
  }
  .aside #mod_calendar2 .calendar {
    width: 230px;
  }
  .aside #mod_calendar2 .caption_nav_prev {
    left: calc(50% - 110px);
    margin: 0;
  }
  .aside #mod_calendar2 .caption_nav_next {
    right: calc(50% - 110px);
    margin: 0;
  }
}

@media (max-width: 479px) {
  .aside #mod_weather .weatherParam li {
    display: block !important;
  }
  .aside #mod_weather .weatherParam.cloned {
    display: none;
  }
}

.timetable--classlist {
  font-size: 1.6rem;
  line-height: 20px;
  color: #385572;
  padding: 0;
  display: block;
  list-style-type: circle;
  list-style-position: inside;
}

.timetable--classlist a {
  color: inherit;
}

.timetable--classlist a:hover {
  text-decoration: underline;
}

.timetable__info {
  font-size: 1.6rem;
}

.timetable {
  border-collapse: collapse;
  font-size: 1.6rem;
  width: 100%;
  color: #333;
}

.timetable caption {
  text-align: left;
  font-family: 'dosis bold', sans-serif;
  border-bottom: 0;
  border: 1px solid #385572;
  border-bottom-width: 0;
  padding: 5px;
}

.timetable th, .timetable td {
  border: 1px solid #333;
  padding: 5px;
  vertical-align: middle;
}

.timetable th {
  text-align: left;
  color: #222;
}

.timetable .txt_err {
  color: #222;
  text-align: center;
}

.timetable__holder {
  margin: 0 auto 20px;
  border: 0;
}

@media (max-width: 767px) {
  .timetable {
    font-size: 1.3rem;
  }
  .timetable th, .timetable td {
    width: auto !important;
  }
}

.board {
  position: relative;
  margin-bottom: 60px;
}

.board .board-top {
  height: 12px;
}

.board .board-top-left {
  height: 12px;
  width: 10px;
  background: url("../images/board/boardTopLeft.png") no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}

.board .board-top-top {
  height: 12px;
  position: absolute;
  left: 10px;
  right: 10px;
  background: url("../images/board/boardTop.png") repeat-x;
}

.board .board-top-right {
  width: 10px;
  height: 12px;
  background: url("../images/board/boardTopRight.png") no-repeat;
  position: absolute;
  right: 0;
  top: 0;
}

.board .board-center-left {
  width: 10px;
  position: absolute;
  left: 0;
  top: 12px;
  bottom: 12px;
  background: url("../images/board/boardCenterLeft.png") repeat-y;
}

.board .board-center-center {
  position: relative;
  margin: 0 10px 0 10px;
  background: url("../images/board/boardBg.jpg");
  padding: 20px;
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.board .board-center-right {
  width: 10px;
  position: absolute;
  right: 0;
  top: 12px;
  bottom: 12px;
  background: url("../images/board/boardCenterRight.png") repeat-y;
}

.board .board-bottom-left {
  width: 10px;
  height: 31px;
  position: absolute;
  left: 0;
  bottom: -19px;
  background: url("../images/board/boardBottomLeft.png") no-repeat;
}

.board .board-bottom-right {
  width: 10px;
  height: 31px;
  position: absolute;
  right: 0;
  bottom: -19px;
  background: url("../images/board/boardBottomRight.png") no-repeat;
}

.board .board-bottom-bottom {
  position: absolute;
  bottom: -19px;
  left: 10px;
  right: 10px;
  height: 31px;
  background: url("../images/board/boardBottom.png") repeat-x;
}

.board .board-bottom {
  position: relative;
}

.board .chalk-1 {
  width: 34px;
  height: 9px;
  background: url("../images/board/chalk-1.png") no-repeat;
  position: absolute;
  left: 40px;
  top: 7px;
  z-index: 2;
}

.board .chalk-2 {
  width: 18px;
  height: 9px;
  background: url("../images/board/chalk-2.png") no-repeat;
  position: absolute;
  left: 50%;
  top: 7px;
  z-index: 2;
}

.board .sponge {
  width: 90px;
  height: 81px;
  background: url("../images/board/sponge.png") no-repeat;
  position: absolute;
  right: 30px;
  top: -58px;
  z-index: 2;
}

.board .board-content {
  color: #fff;
  padding-bottom: 45px;
}

.board .board-content strong,
.board .board-content b {
  font-weight: normal;
  font-family: sourceSemibold;
}

.board .board-content img {
  max-width: 100%;
  height: auto;
}

.board .board-content h3 {
  color: #fff;
  font-size: 1.714em;
  margin-top: 2em;
  margin-bottom: 1em;
  background: url("../images/board/bgMenuLeftHeader.png") repeat-x left bottom;
  padding-bottom: 15px;
  font-weight: normal;
}

.board .board-content h3.board-header {
  background: none;
  margin-top: 0;
  font-family: chalk;
  font-size: 2.429em;
}

.board .board-content h4 {
  color: #fff;
  font-size: 1.429em;
  margin-top: 2em;
  margin-bottom: 1em;
}

.board .board-content h5 {
  color: #fff;
  font-size: 1.286em;
  margin-top: 2em;
  margin-bottom: 1em;
}

.board .board-content h6 {
  color: #fff;
  font-size: 1.143em;
  margin-top: 2em;
  margin-bottom: 1em;
}

.board .board-content a,
.board .board-content a:visited {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  transition: border 0.3s ease 0s;
}

.board .board-content a:hover,
.board .board-content a:focus,
.board .board-content a:visited:hover,
.board .board-content a:visited:focus {
  border-color: transparent;
}

.board .board-content a:focus,
.board .board-content a:visited:focus {
  outline: 2px solid #fff;
}

.board .board-content a:hover:active,
.board .board-content a:visited:hover:active {
  outline: none;
}

.form .group {
  margin: 10px 0;
}

.form .group:before, .form .group:after {
  content: " ";
  display: table;
}

.form .group:after {
  clear: both;
}

.form label {
  width: 180px;
  float: left;
  line-height: 44px;
  display: block;
}

.form p {
  margin: 0;
}

.form input[type="text"], .form input[type="email"], .form input[type="password"], .form textarea {
  height: 44px;
  line-height: 42px;
  padding: 0 10px;
  width: calc(100% - 180px);
  float: left;
}

.form textarea {
  resize: none;
  font-size: 1.6rem;
  height: 140px;
}

.form .button-wrapper {
  margin-left: 180px;
}

.form .msgError {
  width: calc(100% - 180px);
  float: right;
}

.form .radio {
  float: left;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.form .radio:not(:last-child) {
  margin-right: 15px;
}

.form .radio label {
  width: auto;
  margin-right: 5px;
}

.form .upload input[type="text"] {
  margin-bottom: 10px;
}

.form .upload .button-wrapper + input {
  display: none;
}

.attention, .text-err, .txt_com {
  border: 1px solid #bcbcbc;
  padding: 30px 15px 30px 72px;
  position: relative;
  display: block;
}

.attention:before, .text-err:before, .txt_com:before {
  font-family: sans-serif;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  position: absolute;
  top: calc(50% - 21px);
  left: 15px;
  text-align: center;
  line-height: 42px;
  font-size: 34px;
  display: inline-block;
  border: 1px solid #bcbcbc;
}

.msgError {
  border: 1px solid #bc3c49;
  padding: 11px 15px 11px 60px;
  position: relative;
  display: block;
  color: #bc3c49;
  margin: 10px 0 0;
}

.msgError:before {
  content: '!';
  border: 1px solid #bc3c49;
  font-family: sans-serif;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  position: absolute;
  top: calc(50% - 13px);
  left: 15px;
  text-align: center;
  line-height: 26px;
  font-size: 20px;
  display: inline-block;
}

.attention:before, .txt_com:before {
  content: 'i';
}

.text-err {
  border-color: #bc3c49;
  color: #bc3c49;
}

.text-err:before {
  content: '!';
  border-color: #bc3c49;
}

@media (max-width: 479px) {
  .form label {
    line-height: 20px;
    padding: 0 0 5px;
  }
  .form label, .form input[type="text"], .form input[type="email"], .form input[type="password"], .form textarea, .form .msgError {
    width: 100%;
  }
  .form .button-wrapper {
    margin-left: 0;
  }
}

.gallery {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.photoWrapperGallery {
  border: 5px solid #fff;
  -ms-flex: 1 0 33.3333%;
  flex: 1 0 33.3333%;
}

.photoWrapperGallery p {
  margin: 0;
  padding: 5px;
  border-bottom: 1px solid #bc3c49;
  color: #185e74;
}

.photoWrapperGallery img {
  transition: all 0.3s ease;
  display: block;
  width: 100%;
  height: auto;
}

.photoWrapperGallery img:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

.photoWrapperGallery a {
  overflow: hidden;
  display: block;
}

.photoWrapperGallery:hover p, .photoWrapperGallery:hover img {
  border-color: #bc3c49;
}

@media (max-width: 639px) {
  .photoWrapperGallery {
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
  }
}

@media (max-width: 479px) {
  .photoWrapperGallery {
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
  }
}

.forum__actions {
  padding: 0;
  margin: 0;
  display: block;
}

.forum__actions:before, .forum__actions:after {
  content: " ";
  display: table;
}

.forum__actions:after {
  clear: both;
}

.forum__actions li {
  display: block;
  float: left;
}

.forum__actions li:not(:last-child) {
  margin-right: 15px;
}

.forum__topics {
  width: 100%;
  color: #bc3c49;
  border-collapse: collapse;
  border: 1px solid #385572;
}

.forum__topics th {
  text-align: left;
}

.forum__topics th.titles {
  width: 80%;
}

.forum__topics th.topics {
  width: 10%;
}

.forum__topics th.answers {
  width: 10%;
}

.forum__topics td a {
  color: #bc3c49;
}

.forum__topics td a span, .forum__topics td a p {
  margin: 0;
  display: block;
}

.forum__topics th, .forum__topics td {
  padding: 5px;
  border: 1px solid #385572;
}

.listPosts {
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: block;
}

.listPosts > li {
  display: block;
}

.listPosts > li:not(:last-child) {
  border-bottom: 1px dashed #ccc;
}

.postText, .topicText {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.postText:before, .postText:after, .topicText:before, .topicText:after {
  content: " ";
  display: table;
}

.postText:after, .topicText:after {
  clear: both;
}

.topicText {
  margin: 20px 0 0;
  background-color: #f0f0f0;
}

.postAuthor, .topicAuthor {
  padding: 15px;
  width: 200px;
  float: left;
  border-right: 1px dashed #ccc;
}

.postAuthor > *, .topicAuthor > * {
  display: block;
  margin: 0 auto 3px;
  text-align: center;
}

.postContent, .topicContent {
  width: calc(100% - 200px);
  float: left;
  padding: 15px 15px 40px;
  position: relative;
}

.postContent blockquote, .topicContent blockquote {
  border-left: 3px solid #385572;
  margin: 0;
  padding: 5px;
}

.postContent .respondButtonList, .topicContent .respondButtonList {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.postContent .respondButtonList a:before, .topicContent .respondButtonList a:before {
  border-bottom-color: #f0f0f0;
}

.respondButtonList {
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.respondButtonList:before, .respondButtonList:after {
  content: " ";
  display: table;
}

.respondButtonList:after {
  clear: both;
}

.respondButtonList li {
  display: block;
  float: left;
  margin: 5px;
  font-size: 0;
}

.respondButtonList a {
  color: #bc3c49;
  font-size: 1.4rem;
  line-height: 28px;
  height: 28px;
}

.respondButtonList a:after {
  right: 24px;
}

.forum__topics--link {
  display: block;
}

.forum__topics--holder {
  overflow-x: auto;
  margin: 0 auto 20px;
}

@media (max-width: 767px) {
  .forum__topics {
    min-width: 620px;
  }
}

@media (max-width: 639px) {
  .postText, .topicText {
    display: block;
  }
  .postAuthor, .topicAuthor {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    padding: 5px 15px;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-pack: start;
    justify-content: flex-start;
    border-right: 0;
    border-bottom: 1px dashed #ccc;
  }
  .postAuthor > *, .topicAuthor > * {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 5px 0 0;
  }
  .postContent, .topicContent {
    width: 100%;
  }
}

@media (max-width: 479px) {
  .forumAvatarImage {
    display: none !important;
  }
  .respondButtonList .button-wrapper {
    padding: 0 25px 0 5px;
  }
  .respondButtonList .button-wrapper:after {
    display: none;
  }
}

.main {
  padding: 60px 0 0;
}

#advertsTopWrapper, #advertsLeftWrapper, #advertsTop {
  display: block;
  margin: 0 auto;
}

#advertsTopWrapper img, #advertsLeftWrapper img, #advertsTop img {
  display: block;
  margin: 15px auto;
}

#skip_srch {
  height: 0;
  display: block;
  width: 0;
}

#crumbpath a {
  color: inherit;
  text-decoration: underline;
}

#crumbpath a:hover {
  text-decoration: none;
}

.pagination {
  width: 100%;
  margin: 10px 0;
  padding: 15px;
  border-radius: 25px;
  display: block;
  border: 1px solid #185e74;
}

.pagination p {
  display: block;
  margin: 0;
}

.pagination ul {
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.pagination ul li {
  margin: 0 5px 5px;
  width: 30px;
  height: 30px;
  display: block;
}

.pagination ul li a {
  display: block;
  border-radius: 5px;
  color: #fff;
  width: 100%;
  height: 30px;
  line-height: 32px;
  background-color: #185e74;
}

.pagination ul li a:hover {
  background-color: #bc3c49;
  text-decoration: none;
}

.pagination ul li a:focus {
  outline: 0;
}

.pagination ul li a.keyboard-outline {
  outline-offset: 2px;
}

.pagination ul .pageActive {
  background-color: #bc3c49;
}

.pagination ul .pageActive:hover, .pagination ul .pageActive:focus {
  background-color: #185e74;
  text-decoration: none;
}

.filesWrapper ul {
  padding: 0;
}

.skips {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 999;
}

.skips a:visited {
  display: inline-block;
  left: -9999px;
  padding: 7px 10px;
  position: absolute;
  text-decoration: none;
  z-index: 100;
  color: #bc3c49;
  width: 200px;
  text-align: center;
  transition: opacity 0.3s ease 0s;
  opacity: 0;
}

.skips a {
  display: inline-block;
  left: -9999px;
  padding: 7px 10px;
  position: absolute;
  text-decoration: none;
  z-index: 100;
  color: #bc3c49;
  width: 200px;
  text-align: center;
  transition: opacity 0.3s ease 0s;
  opacity: 0;
}

.skips a:focus, .skips a:hover, .skips a:active, .skips a:visited:focus, .skips a:visited:hover, .skips a:visited:active, .skips a.keyboard-outline {
  left: 0;
  background-color: #fff;
  border: 2px solid #bc3c49;
  opacity: 1;
  outline: none !important;
}

.skips a:focus,
.skips a:hover,
.skips a:active,
.skips a:visited:focus,
.skips a:visited:hover,
.skips a:visited:active {
  left: 0;
  background-color: #fff;
  border: 2px solid green;
  opacity: 1;
  outline: none;
}

#cookiesMsgWrap {
  border-top: 1px solid #185e74 !important;
  color: #fff !important;
  background: #bc3c49 !important;
  font-family: 'dosis', sans-serif !important;
}

#cookiesMsgWrap a {
  color: #185e74 !important;
}

#cookiesMsgWrap a:hover {
  text-decoration: underline !important;
}

body#tinymce h3, body#tinymce h4, body#tinymce h5 {
  margin: 10px 0;
  border: 0;
  padding: 0;
  background: none;
  font-family: 'dosis', sans-serif !important;
}

body#tinymce h3 {
  font-size: 2.4rem;
}

body#tinymce h4 {
  font-size: 2.2rem;
}

body#tinymce h5 {
  font-size: 2rem;
}

body#tinymce h6 {
  font-size: 1.8rem;
}

body#tinymce table {
  border-collapse: collapse;
}

body#tinymce table caption, body#tinymce table td, body#tinymce table th {
  padding: 3px;
  border: 1px solid #185e74 !important;
}

body#tinymce table caption {
  border-bottom: 0 !important;
}

body#tinymce a {
  text-decoration: underline;
}

#welcome {
  margin-bottom: 20px;
}

#welcome a {
  text-decoration: underline;
}

#welcome a:hover {
  text-decoration: none;
}

.board .board-content h3, .board .board-content h4, .board .board-content h5 {
  margin: 10px 0;
  border: 0;
  padding: 0;
  background: none;
  font-weight: 400;
  text-transform: none !important;
}

.board .board-content h3 {
  font-size: 2.4rem;
}

.board .board-content h4 {
  font-size: 2.2rem;
}

.board .board-content h5 {
  font-size: 2rem;
}

.board .board-content h6 {
  font-size: 1.8rem;
}

.board .board-content table {
  border-collapse: collapse;
  width: 100% !important;
}

.board .board-content table caption, .board .board-content table td {
  padding: 3px;
  border: 1px solid #185e74 !important;
}

.board .board-content table caption {
  border: 1px solid #185e74 !important;
  border-bottom: 0;
}

#cookiesMsg {
  width: 100% !important;
  max-width: 100% !important;
  padding: 10px 25px 0 25px !important;
  color: #fff !important;
  background: #bc3c49 !important;
  font-family: 'dosis', sans-serif !important;
}

#cookiesMsg a {
  color: #185e74 !important;
}

#cookiesMsg a:hover {
  text-decoration: underline !important;
}

.sitemap__holder {
  display: block;
  margin: 20px 0;
}

.sitemap__holder h3 {
  display: block;
  margin: 0 0 5px;
  color: #bc3c49;
}

.sitemap__holder a {
  padding: 3px 0;
  display: inline-block;
  color: #185e74;
}

.sitemap__holder a:hover {
  text-decoration: underline;
}

.sitemap {
  list-style-type: circle;
  display: block;
  padding: 0 0 0 15px;
  margin: 0;
}

#jokes {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
}

#jokes li {
  border-bottom: 1px solid #185e74;
  margin-bottom: 10px;
}

#jokes p {
  margin: 0;
}

#jokes .jokeText {
  margin-bottom: 5px;
}

#jokes .jokeNick {
  border-top: 1px dashed #185e74;
  font-size: 1.2rem;
  padding: 3px 0;
}

.txtMessage iframe ~ small {
  display: block;
  text-align: center;
}

.txtMessage iframe ~ small a {
  color: #385572 !important;
  text-decoration: underline !important;
}

.txtMessage iframe ~ small a:hover {
  text-decoration: none !important;
}

#welcome {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

#content_txt {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

#content_txt .borderNone {
  border: 0;
  margin: 0;
  padding: 0;
}

#content_txt > .text-err:not(:last-child) {
  margin-bottom: 20px;
}

.questionnaireList {
  margin: 0 0 10px;
  padding: 0;
}

.questionnaireList li {
  display: block;
}

.questionnaireList li:not(:last-child) {
  margin-bottom: 4px;
}

.questionnaireList label {
  margin-left: 10px;
}

.qAnswer {
  float: left;
  line-height: 15px;
}

.qBar {
  transform: translateY(-15px);
  height: 4px;
  background-color: #bc3c49;
}

.qPercent {
  font-family: 'dosis medium', sans-serif;
  float: right;
  font-size: 3rem;
  color: #385572;
  line-height: 36px;
}

@media (max-width: 1199px) {
  .sitemap__wrapper > div {
    -ms-flex: 1 0 33.3333%;
    flex: 1 0 33.3333%;
  }
  .sitemap__holder {
    width: 33.3333%;
  }
}

@media (max-width: 767px) {
  .main {
    padding: 35px 0 0;
  }
  #cookiesMsgWrap {
    font-size: 1.4rem !important;
    line-height: 17px !important;
  }
  .sitemap__wrapper > div {
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
  }
  .sitemap__holder {
    width: 50%;
  }
}

@media (max-width: 639px) {
  .sitemap__wrapper > div {
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
  }
  .sitemap__holder {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
}

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}

.fancybox-skin {
  position: relative;
  background: #bc3c49;
  color: #444;
  text-shadow: none;
}

.fancybox-skin img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  height: auto;
}

.fancybox-skin p {
  margin: 10px 0 0;
  color: #fff;
  text-align: justify;
}

.fancybox-opened {
  z-index: 8030;
}

.fancybox-outer, .fancybox-inner {
  position: relative;
}

.fancybox-inner {
  height: auto !important;
  overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}

.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

#fancybox-loading, .fancybox-prev span, .fancybox-next span {
  background-image: url("../images/fancybox/fancybox_sprite.png");
}

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url("../images/fancybox/fancybox_loading.gif") center center no-repeat;
}

.fancybox-close {
  position: absolute;
  top: -30px;
  right: 0;
  width: 30px;
  height: 30px;
  background-color: #bc3c49;
  border-bottom: 0;
  cursor: pointer;
  z-index: 8040;
}

.fancybox-close::before, .fancybox-close::after {
  background-color: #185e74;
  content: '';
  display: block;
  position: absolute;
  width: 24px;
  height: 4px;
}

.fancybox-close::before {
  transform: rotate(45deg) translateX(11px) translateY(7px);
}

.fancybox-close::after {
  transform: rotate(-45deg) translateX(-7px) translateY(11px);
}

.fancybox-close:hover {
  background-color: #185e74;
}

.fancybox-close:hover::before, .fancybox-close:hover::after {
  background-color: #bc3c49;
}

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  z-index: 8040;
}

.fancybox-nav:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.fancybox-prev {
  left: 0;
}

.fancybox-next {
  right: 0;
}

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  background-image: none;
}

.fancybox-nav span:before, .fancybox-nav span:after {
  content: '';
  position: absolute;
  display: block;
  height: 2px;
  width: 30px;
  background-color: #185e74;
}

.fancybox-prev span {
  left: 10px;
}

.fancybox-prev span:before {
  transform: rotate(45deg) translateX(22px) translateY(14px);
}

.fancybox-prev span:after {
  transform: rotate(-45deg) translateX(0) translateY(8px);
}

.fancybox-next span {
  right: 10px;
}

.fancybox-next span:before {
  transform: rotate(45deg) translateX(0) translateY(8px);
}

.fancybox-next span:after {
  transform: rotate(-45deg) translateX(-22px) translateY(14px);
}

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}

/* Overlay helper */
.fancybox-lock {
  overflow: hidden !important;
  width: auto;
}

.fancybox-lock body {
  overflow: hidden !important;
}

.fancybox-lock-test {
  overflow-y: hidden !important;
}

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background-color: rgba(255, 255, 255, 0.8);
}

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}

/* Title helper */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}

.fancybox-opened .fancybox-title {
  visibility: visible;
}

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  margin-top: 10px;
  transform: translateY(10px);
  padding: 5px 30px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: white;
  border-radius: 15px;
  color: #fff;
  background-color: #bc3c49;
  line-height: 24px;
  white-space: nowrap;
}

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}

.fancybox-title-inside-wrap {
  padding-top: 10px;
}

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  #fancybox-loading, .fancybox-prev span, .fancybox-next span {
    background-image: url("../images/fancybox/fancybox_sprite@2x.png");
    background-size: 44px 152px;
    /*The size of the normal image, half the size of the hi-res image*/
  }
  #fancybox-loading div {
    background-image: url("../images/fancybox/fancybox_loading@2x.gif");
    background-size: 24px 24px;
    /*The size of the normal image, half the size of the hi-res image*/
  }
}

.main-footer {
  background-color: #185e74;
  color: #fff;
  min-height: 105px;
  margin: 50px 0 0;
}

.main-footer a {
  color: #fff;
}

.main-footer a:hover {
  text-decoration: underline;
}

.main-footer ul {
  min-height: 105px;
  display: block;
  text-transform: uppercase;
  padding: 20px 0;
  margin: 0;
}

.main-footer ul:before, .main-footer ul:after {
  content: " ";
  display: table;
}

.main-footer ul:after {
  clear: both;
}

.main-footer li {
  display: inline-block;
  vertical-align: top;
  font-size: 1.4rem;
  line-height: 16px;
}

.main-footer li:not(:last-child) {
  margin-right: 50px;
}

.main-footer li a {
  display: block;
  padding: 10px;
}

.main-footer li a.keyboard-outline {
  outline-color: #eee !important;
}

.main-footer .protectedPage {
  background-image: url("../images/lock-light.png");
}

.main-footer #goTop {
  float: right;
  margin: 34px 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-pack: center;
  justify-content: center;
  height: 40px;
  text-transform: uppercase;
  vertical-align: bottom;
  font-size: 1.4rem;
  line-height: 16px;
  position: relative;
  text-align: center;
}

.main-footer #goTop.keyboard-outline {
  outline-color: #eee !important;
}

.main-footer #goTop:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 26px;
  height: 14px;
  background-position: center center;
  background-size: cover;
  background-image: url("../images/arrow-top.png");
}

.footer--copyright {
  color: #385572;
  height: 90px;
  line-height: 90px;
  font-size: 1.3rem;
  text-align: right;
}

.footer--copyright p {
  display: inline-block;
  margin: 0;
}

.footer--copyright p a {
  margin: 0;
}

.footer--copyright a {
  display: inline-block;
  color: inherit;
  margin: 0 15px 0 0;
  text-decoration: underline;
}

.footer--copyright a:hover {
  text-decoration: none;
}

@media (max-width: 1199px) {
  .main-footer li:not(:last-child) {
    margin-right: 10px;
  }
  .main-footer #goTop {
    font-size: 1.1rem;
  }
}

@media (max-width: 991px) {
  .main-footer {
    background-color: #bc3c49;
  }
  .main-footer #goTop {
    float: none;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    font-size: 1.4rem;
  }
  .main-footer #goTop:before {
    background-image: url("../images/arrow-top-light.png");
  }
  .footer--copyright {
    color: #000;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .main-footer {
    height: auto;
  }
  .main-footer #goTop {
    margin: 24px auto;
  }
}
