.articles {

}
.article {
	position: relative;
	min-height: 222px;
	display: block;
	display: flex;
	align-items: stretch;
	justify-content: flex-end;
	margin: 25px 0 46px;
	background-color: #fff;
	&.article--highlighted {
		.article__content, .article__image {
			background-color: $color2;
			color: #fff;
		}
		.article__content {
			h4 {
				a {
					color: #fff;
				}
			}
		}
		.article__link {
			background-image: url('../images/button-background1.png');
			color: $basic;
			&:before {
				background-image: url('../images/arrow-dark.png');
			}
		}
	}
}
.article__content {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	flex-direction: column;	
	background-color: #ebebeb;
	padding: 25px 102px 70px 25px;
	float: right;
	color: $basic;
	border-radius: 25px;
	h4 {
		text-transform: uppercase;
		font-size: 2.1rem;
		line-height: 23px;
		margin: 0 0 20px;
		padding-right: 90px;
		a {
			color: $basic;
		}
	}
	p {
		font-size: 1.6rem;
		margin: 0;
	}
}
.article__image {
	display: block;
	width: 350px;
	overflow: hidden;
	position: relative;
	background-color: #ebebeb;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	div {
		border-top-left-radius: 15px;
		border-bottom-left-radius: 15px;
		overflow: hidden;
		position: relative;
		z-index: 2;
		img {
			position: relative;
			z-index: 1;
			border-top-left-radius: 15px;
			border-bottom-left-radius: 15px;
			display: block;
			transition: all .3s ease;
		}
	}
	&:hover {
		div {
			img {
				transform: scale(1.1);
			}			
		}
	}
	& + .article__content {
		display: block;
		width: calc(100% - 350px);
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
	}
}
.article__date {
	@include coverBg();
	position: absolute;
	z-index: 3;
	width: 109px;
	height: 84px;
	padding: 0 5px;
	font-size: 1.6rem;
	text-align: center;
	line-height: 84px;
	bottom: -6px;
	left: -24px;
	color: $basic;
	background-image: url('../images/article-date.png');
}
.article__link {
	@include coverBg();
	width: 275px;
	height: 78px;
	right: -4px;
	bottom: -21px;
	text-transform: uppercase;
	font-size: 1.8rem;
	padding: 0 0 0 35px;
	line-height: 78px;
	position: absolute;
	display: block;
	color: #fff;
	background-image: url('../images/button-article-background.png');
	&:before {
		@include coverBg();
		content: '';
		position: absolute;
		top: 50%;
		right: 35px;
		transform: translateY(-50%);
		width: 56px;
		height: 27px;
		background-image: url('../images/arrow-white.png');
	}
	&:hover {
		color: #fff;
	}
}
@media (max-width: 1199px) {
	.article__image {
		width: 250px;
		& + .article__content {
			width: calc(100% - 250px);
		}
	}
}
@media (max-width: 991px) {
	.articles {
		padding: 0 20px;
	}
}
@media (max-width: 799px) {
	.article__image {
		display: none;
		& + .article__content {
			width: 100%;
			border-radius: 25px;
		}
	}
	.article__content {
		padding: 45px 40px 70px 25px;
	}
	.article__date {
		background-image: none;
		width: auto;
		height: auto;
		line-height: 20px;
		bottom: auto;
		right: 50px;
		top: 46px;
		left: auto;
	}
	.article {
		&.article--highlighted {
			.article__date {
				color: #fff;
			}
		}
	}
}
@media (max-width: 767px) {
	.article {
		margin: 30px 0;
	}
}
@media (max-width: 479px) {
	.article__date {
		padding: 0;
		position: static;
		text-align: left;
		margin: 0 0 10px;
	}
	.article__content {
		h4 {
			padding-right: 0;
			text-align: left;
			margin: 0 0 10px;
		}
	}
}