.aside {
	.module_content {
		@include clearfix();
		text-align: center;
	}
	a {
		color: inherit;
		transition: all 0.3s ease;
	}
	#mod_calendar2 {
		text-align: center;
		font-size: 1.2rem;
		line-height: 15px;
		.caption_nav_prev, .caption_nav_next {
			display: block;
			position: relative;
			background-image: url('../images/arrow-right.png');
			background-size: cover;
			width: 15px;
			height: 27px;
			font-size: 0;
			z-index: 2;
			a {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				&:hover {
					background-color: transparent;
				}
			}
		}
		.caption_nav_prev {
			transform: rotate(180deg);
			float: left;
			margin-left: 20px;
		}
		.caption_nav_next {
			float: right;
			margin-right: 20px;
		}
		.module_content {
			padding: 24px 12px 12px;
		}
		#calendarNews {
			position: relative;
		}
		.calendar {
		    border-collapse: collapse;
		    border: 5px solid #fff;
			margin: 0 auto;
			width: 230px;
			caption {
				transform: translateY(-20px);
				text-transform: uppercase;
				font-size: 2.1rem;
			}
			th {
				height: 30px;
				font-weight: 400;
				background-color: #f6f6f6;
				vertical-align: middle;
			}
			tr {
				
			}
			td {
				height: 25px;
				background-color: #f6f6f6;
				border: 1px solid #fff;
				vertical-align: middle;
				&.pr_day {
					background-color: $color1;
					color: #fff;
				}
				&.imp_day {
					background-color: $attention;
					color: #basic;
					a {
						&:hover {
							text-decoration: none;
							background-color: $color2;
						}
					}
				}
			}
			a {
				display: block;
				width: 100%;
				height: 25px;
				line-height: 25px;
				color: inherit;
			}
		}	
	}
	#mod_weather {
		background-color: $color1;
		color: #fff;
		border: 0;
		h2 {
			background-color: #fff;
			z-index: 2;
			position: relative;
			border-radius: 0;
			border-bottom: 1px dashed #6c97ba;
			margin: 0;
			padding: 0;
			span {
				display: block;
				text-align: center;
				margin: 0;
				border-radius: 40px;
				padding: 20px;
				color: #fff;
				text-transform: uppercase;
				font-size: 2.9rem;
				line-height: 31px;
				background-color: $color1;
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
			}
			&:before, &:after {
				content: '';
				position: absolute;
				width: 1px;
				height: 50%;
				background-color: #fff;
				display: block;
				top: 0;
				bottom: 50%;
			}
			&:before {
				left: -1px;
			}
			&:after {
				right: -1px;
			}
		}
		.module_content {
			padding-bottom: 20px;
		}
		.weatherParam {
			&.cloned {
				display: none;
			}
		}
		.weatherLoc {
			font-size: 1.8rem;
		}
		.weatherTemp {
			font-size: 3rem;
		}
		li {
			display: block;
			margin: 2px 0;
			font-size: 1.3rem;
		}
	}
	#mod_login {
		margin: 0 0 70px;
		padding: 0 0 10px;
		legend {
			display: none;
		}
		label, input[type="text"], input[type="password"] {
			text-align: left;
			width: 100%;
			display: block;
		}
		label {
			text-transform: uppercase;
			font-weight: normal;
			font-size: 1.8rem;
			line-height: 20px;
			margin: 0 0 8px;
		}
		input[type="text"], input[type="password"] {
			height: 44px;
			line-height: 42px;
		}
		.module_content {
			padding: 32px;
		}
		.buttonWrapper {
			position: absolute;
			left: -3px;
			bottom: -43px;
			display: block;
			width: 249px;
			height: 78px;
			background-image: url('../images/button-background2.png');
			background-size: cover;
			color: $basic;
			font-size: 1.8rem;
			line-height: 78px;
			text-align: left;
		}
	}
	#mod_questionnaire {
		margin: 0 0 70px;
		padding: 0 0 20px;
		p {
			margin: 0 0 20px;
		}
		li {
			text-align: left;
		}
		.label {
			padding: 0 0 0 5px;
			color: $basic;
		}
		.buttonWrapper {
			position: absolute;
			left: -10px;
			bottom: -45px;
			display: block;
			width: 275px;
			height: 78px;
			background-image: url('../images/button-background1.png');
			background-size: cover;
			color: $basic;
			font-size: 1.8rem;
			line-height: 78px;
			text-align: left;
			& > * {
				padding: 0 0 0 60px;
			}
			&:before {
				content: '';
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 30px;
				width: 56px;
				height: 27px;
				background-size: cover;
				background-image: url('../images/arrow-dark.png');
				background-repeat: no-repeat;
			}
		}
	}
	#mod_forum {
		position: relative;
		border: 0;
		min-height: 225px;
		background-repeat: no-repeat;
		background-image: url('../images/module-main-desktop.png');
		background-size: auto;
		background-position: bottom left;
		text-align: left;
		margin: 20px 0 40px;
		padding: 42px 20px 20px 26px;
		transition: all .3s ease;
		&:hover {
			a {
				text-decoration: underline;
			}
		}
		.module_icon {
			@include coverBg();
			background-image: url('../images/module-main-symbol.png');
			top: 10px;
			right: -20px;
			width: 109px;
			height: 84px;
			position: absolute;
			background-repeat: no-repeat;
			z-index: 2;
			&:before {
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
				content: '';
				display: block;
				position: absolute;
				background-repeat: no-repeat;
				background-size: auto;
				background-position: 50% 70%;
				z-index: 2;
				transform: scale(0.95);
				background-image: url('../images/icons/icon8-big.png');
			}
		}
		h2 {
			background-color: transparent;
			padding: 0;
			margin: 32px 0 0;
			span {
				font-size: 2.2rem;
				padding: 0;
				background-color: inherit;
				line-height: 24px;
				position: static;
				text-align: left;
				display: block;
			}
			&:before, &:after {
				display: none;
			}
		}
		.button {
			@include coverBg();
			position: absolute;
			display: block;
			bottom: -20px;
			right: 0;
			width: 172px;
			height: 53px;
			padding: 0 8px;
			line-height: 53px;
			text-align: right;
			background-image: url('../images/button-background3.png');
		}
		#modForum, .bolder {
			display: none;
		}
	}
	#mod_contact {
		position: relative;
		border: 0;
		min-height: 212px;
		width: 280px;
		background-repeat: no-repeat;
		background-image: url('../images/module-main-desktop.png');
		background-size: auto;
		background-position: bottom left;
		text-align: left;
		margin: 20px 0 40px;
		padding: 42px 20px 20px 26px;
		transition: all .3s ease;
		&:hover {
			a {
				text-decoration: underline;
			}
		}
		.module_icon {
			@include coverBg();
			background-image: url('../images/module-main-symbol.png');
			top: 0;
			right: 0;
			width: 109px;
			height: 84px;
			position: absolute;
			background-repeat: no-repeat;
			z-index: 2;
			&:before {
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
				content: '';
				display: block;
				position: absolute;
				background-repeat: no-repeat;
				background-size: auto;
				background-position: 50% 70%;
				z-index: 2;
				transform: scale(0.95);
				background-image: url('../images/icons/icon9-big.png');
			}
		}
		.module_content {
			position: absolute;
		    bottom: 5px;
		    width: 200px;
		    left: 60px;
		}
		h2 {
			background-color: transparent;
			padding: 0;
			margin: 20px 0 0;
			span {
				font-size: 2.2rem;
				padding: 0;
				background-color: inherit;
				line-height: 24px;
				position: static;
				text-align: left;
				display: block;
			}
			&:before, &:after {
				display: none;
			}
		}
		p {
			color: #fff;
			margin: 0;
			text-align: left;
		}
	}
}
.aside__modules {
	& > * {
		position: relative;
		border-left: 1px solid #dfeaf6;
		border-right: 1px solid #dfeaf6;
		border-bottom: 1px solid #dfeaf6;
		margin: 25px 0;
		h2 {
			text-align: center;
			display: block;
			margin: 0;
			position: relative;
			span {
				border-radius: 40px;
				padding: 20px;
				color: #fff;
				text-transform: uppercase;
				font-size: 2.9rem;
				line-height: 31px;
				background-color: $color1;
				display: block;
			}
			&:before, &:after {
				content: '';
				position: absolute;
				width: 1px;
				height: 50%;
				background-color: #fff;
				display: block;
				top: 0;
				bottom: 50%;
			}
			&:before {
				left: -1px;
			}
			&:after {
				right: -1px;
			}
		}
		.module_content {
			margin: 0;
			padding: 20px 12px 12px;		
		}
		ul {
			padding: 0;
			margin: 0;
		}
	}
}
.aside__menu {
	margin: 30px 0 20px;
	.dropdown-menu {
		position: static;
		& > li {
			& > a {
				&:focus {
					background-color: transparent;
				}
			}
		}
	}
	& > ul {
		margin: 25px 0;
		padding: 0;
		& > li {
			& > a {
				border-radius: 25px;
				position: relative;
				&.selected, &:focus, &:hover {
					background-color: $color2 !important;
					color: #fff;
					text-decoration: none;
				}
			}
		}
	}
	li {
		& > ul {
			padding: 0 0 0 5px;
			li {
				a {
					background-color: #d2f3fb;
					border-radius: 25px;
					color: $basic;
					&.selected, &:hover, &:focus {
						background-color: $color2 !important;
						text-decoration: none;
						color: #fff;
					}
				}
			}
		}
		& > a {
			color: $basic;
			min-height: 38px;
			line-height: 18px;
			font-size: 1.8rem;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			padding: 4px 15px;
		}
	}
	.heading {
		margin: 20px 0 0;
		&:first-of-type {
			margin-top: 0;
		}
	}
}
@media (max-width: 1199px) {
	.aside {
		#mod_forum {
			background-size: contain;
			padding: 95px 0 20px 20px;
			.module_icon {
				top: 34px;
				transform: scale(0.92);
				&:before {
					background-position: 50% 60%;
				}
			}
			h2, p {
				margin: 0;
			}
			p {
				word-break: break-all;
			}
		}
		#mod_contact {
			background-size: contain;
			height: 160px;
			width: 212px;
			padding: 70px 0 20px 20px;
			.module_icon {
				top: 0;
			}
			.module_content {
				bottom: 25px;
				left: 22px;
				font-size: 1.2rem;
				line-height: 13px;
				padding: 26px 18px 12px 32px;
			}
			h2 {
				margin: 0;
				transform: translateY(10px);
			}
			p {
				margin: 0;
				transform: translateY(10px);
				word-break: break-all;
			}
		}
		#mod_calendar2 {
			.calendar {
				width: 186px;
			}
		}
		#mod_login {
			.buttonWrapper {
				width: 210px;
				height: 66px;
				line-height: 66px;
				& > * {
					padding: 0 0 0 30px;
				}
			}
		}
		#mod_questionnaire {
			.buttonWrapper {
				width: 220px;
				height: 62px;
				line-height: 62px;
				bottom: -40px;
				& > * {
					padding: 0 0 0 30px;
				} 
				&:before {
					transform: scale(0.8) translateY(-50%);
					right: 20px;
				}
			}
		}
	}
}
@media (min-width: 992px) {
	.aside__modules {
		& > * {
			height: auto !important;
		}
	}
}
@media (max-width: 991px) {
	.aside {
		#mod_contact, #mod_forum {
			display: none;
		}
		#mod_login {
			.module_content {
				margin: 0 20px;
				form {
					width: 100%;
				}
			}
			.buttonWrapper {
				width: 190px;
				height: 60px;
				left: auto;
				right: -15px;
				bottom: -20px;
				font-size: 1.6rem;
				line-height: 60px;
			}
		}
		#mod_weather {
			box-shadow: none !important;
			ul {
				padding: 0 15px;
			}
			#weatherInfo {
				display: flex;
				align-items: flex-start;
				justify-content: center;
			}
			.weatherParam {
				li {
					display: none;
					&.weatherLoc, &.weatherTemp, &.weatherIco {
						display: block;
					}
				}
				&.cloned {
					display: block;
					li {
						display: block;
						&.weatherLoc, &.weatherTemp, &.weatherIco {
							display: none;
						}
					}
				}
			}
			h2 {
				width: 100%;
				&:before {
					display: none;
				}
				span {
					height: auto;
					border-bottom-left-radius: 0;
					border-bottom-right-radius: 0;
				}
			}
		}
		#mod_questionnaire {
			.module_content {
				display: block;
				margin: 20px 20px 0;
			}
			.buttonWrapper {
				left: auto;
				font-size: 1.6rem;
				right: -15px;
				bottom: -24px;
				width: 190px;
				height: 54px;
				line-height: 54px;
			}
		}
		#mod_calendar2 {
			.calendar {
				width: 202px;
			}
			.caption_nav_prev, .caption_nav_next {
				position: absolute;
				top: -25px;
			}
			.caption_nav_prev {
				left: calc(50% - 117px);
			}
			.caption_nav_next {
				right: calc(50% - 117px);
			}
		}
	}
	.aside__modules {
		display: flex;
		align-items: stretch;
		justify-content: flex-start; 
		flex-wrap: wrap;
		& > * {
			flex: 1 0 50%;
			width: calc(50% - 30px);
			margin: 15px 0 !important;
			border: 15px solid #fff !important;
			border-bottom-width: 7px !important;
			border-top-width: 7px !important;
			box-shadow: inset 0px 0px 1px 1px #dfeaf6;
			.module_content {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				height: calc(100% - 40px);
			}
			h2 {
				width: calc(100% + 2px);
				span {
					border: 1px solid #84a9b5;
					height: 39px;
					line-height: 37px;
					font-size: 2.6rem;
					padding: 0;
					border-radius: 12px;
					position: relative;
					z-index: 2;
				}
				&:before {
					content: '';
					z-index: 1;
					display: block;
					position: absolute;
					top: 0;
					bottom: 50%;
					left: 0;
					right: 0;
					width: 100%;
					height: 50%;
					background-color: #fff;
				}
			}
		}
		& >	li#mod_programs {
			list-style-type: none;
			border-top-left-radius: 12px;
			border-top-right-radius: 12px;
			&:before {
				content: '';
				z-index: 1;
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				width: 100%;
				height: 19px;
				background-color: #fff;
			}
			h2 {
				width: calc(100% + 26px);
				border: 1px solid #84a9b5;
				height: 39px;
				background-color: $color1;
				line-height: 37px;
				font-size: 2.6rem;
				text-transform: uppercase;
				padding: 0;
				margin: 0 0 20px;
				color: #fff;
				border-radius: 12px;
				position: relative;
				z-index: 2;
				&:before, &:after {
					display: none;
				}
			}
		}
	}
}
@media (max-width: 767px) {
	.aside__modules {
		& > * {
			height: auto !important;
			.module_content {
				padding: 20px;
			}
		}
		& > li#mod_programs {
			h2 {
				width: calc(100% + 42px);
			}
		}
	}
	.aside {
		#mod_weather {
			ul {
				padding: 0;
			}
			.module_content {
				height: calc(100% - 74px);
			}
			.weatherParam {
				margin: 0 15px;
			}
		}
		#mod_calendar2 {
			.module_content {
				margin: 15px 0 0;
			}
		}
		#mod_questionnaire {
			.module_content {
				margin: 0 20px;
			}
		}
	}
}
@media (max-width: 639px) {
	.aside__modules {
		display: flex;
		padding: 0 15px;
		& > * {
			flex: 1 0 100%;
			width: 100%;
		}
		& > li#mod_programs {
			border-left-width: 0 !important;
			border-right-width: 0 !important;
		}
	}
	.aside {
		#mod_weather {
			h2 {
				span {
					border-top-left-radius: 12px;
					border-top-right-radius: 12px;
					line-height: 47px;
					height: 47px;
					padding: 0;
				}
			}
		}
		#mod_calendar2 {
			.calendar {
				width: 230px;
			}
			.caption_nav_prev {
				left: calc(50% - 110px);
				margin: 0;
			}
			.caption_nav_next {
				right: calc(50% - 110px);
				margin: 0;
			}
		}
	}
}
@media (max-width: 479px) {
	.aside {
		#mod_weather {
			.weatherParam {
				li {
					display: block !important;
				}
				&.cloned {
					display: none;
				}
			}
		}
	}
}