.board {
    position: relative;
    margin-bottom: 60px
}
.board .board-top {
    height: 12px
}
.board .board-top-left {
    height: 12px;
    width: 10px;
    background: url("../images/board/boardTopLeft.png") no-repeat;
    position: absolute;
    left: 0;
    top: 0
}
.board .board-top-top {
    height: 12px;
    position: absolute;
    left: 10px;
    right: 10px;
    background: url("../images/board/boardTop.png") repeat-x
}
.board .board-top-right {
    width: 10px;
    height: 12px;
    background: url("../images/board/boardTopRight.png") no-repeat;
    position: absolute;
    right: 0;
    top: 0
}
.board .board-center-left {
    width: 10px;
    position: absolute;
    left: 0;
    top: 12px;
    bottom: 12px;
    background: url("../images/board/boardCenterLeft.png") repeat-y
}
.board .board-center-center {
    position: relative;
    margin: 0 10px 0 10px;
    background: url("../images/board/boardBg.jpg");
    padding: 20px;
    -webkit-box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.5)
}
.board .board-center-right {
    width: 10px;
    position: absolute;
    right: 0;
    top: 12px;
    bottom: 12px;
    background: url("../images/board/boardCenterRight.png") repeat-y
}
.board .board-bottom-left {
    width: 10px;
    height: 31px;
    position: absolute;
    left: 0;
    bottom: -19px;
    background: url("../images/board/boardBottomLeft.png") no-repeat
}
.board .board-bottom-right {
    width: 10px;
    height: 31px;
    position: absolute;
    right: 0;
    bottom: -19px;
    background: url("../images/board/boardBottomRight.png") no-repeat
}
.board .board-bottom-bottom {
    position: absolute;
    bottom: -19px;
    left: 10px;
    right: 10px;
    height: 31px;
    background: url("../images/board/boardBottom.png") repeat-x
}
.board .board-bottom {
    position: relative
}
.board .chalk-1 {
    width: 34px;
    height: 9px;
    background: url("../images/board/chalk-1.png") no-repeat;
    position: absolute;
    left: 40px;
    top: 7px;
    z-index: 2
}
.board .chalk-2 {
    width: 18px;
    height: 9px;
    background: url("../images/board/chalk-2.png") no-repeat;
    position: absolute;
    left: 50%;
    top: 7px;
    z-index: 2
}
.board .sponge {
    width: 90px;
    height: 81px;
    background: url("../images/board/sponge.png") no-repeat;
    position: absolute;
    right: 30px;
    top: -58px;
    z-index: 2
}
.board .board-content {
    color: #fff;
    padding-bottom: 45px
}
.board .board-content strong,
.board .board-content b {
    font-weight: normal;
    font-family: sourceSemibold
}
.board .board-content img {
    max-width: 100%;
    height: auto
}
.board .board-content h3 {
    color: #fff;
    font-size: 1.714em;
    margin-top: 2em;
    margin-bottom: 1em;
    background: url("../images/board/bgMenuLeftHeader.png") repeat-x left bottom;
    padding-bottom: 15px;
    font-weight: normal
}
.board .board-content h3.board-header {
    background: none;
    margin-top: 0;
    font-family: chalk;
    font-size: 2.429em
}
.board .board-content h4 {
    color: #fff;
    font-size: 1.429em;
    margin-top: 2em;
    margin-bottom: 1em
}
.board .board-content h5 {
    color: #fff;
    font-size: 1.286em;
    margin-top: 2em;
    margin-bottom: 1em
}
.board .board-content h6 {
    color: #fff;
    font-size: 1.143em;
    margin-top: 2em;
    margin-bottom: 1em
}
.board .board-content a,
.board .board-content a:visited {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    -webkit-transition: border 0.3s ease 0s;
    transition: border 0.3s ease 0s
}
.board .board-content a:hover,
.board .board-content a:focus,
.board .board-content a:visited:hover,
.board .board-content a:visited:focus {
    border-color: transparent
}
.board .board-content a:focus,
.board .board-content a:visited:focus {
    outline: 2px solid #fff
}
.board .board-content a:hover:active,
.board .board-content a:visited:hover:active {
    outline: none
}