.form {
	.group {
		@include clearfix();
		margin: 10px 0;
	}
	label {
		width: 180px;
		float: left;
		line-height: 44px;
		display: block;
	}
	p {
		margin: 0;
	}
	input[type="text"], input[type="email"], input[type="password"], textarea {
		height: 44px;
		line-height: 42px;
		padding: 0 10px;
		width: calc(100% - 180px);
		float: left;
	}
	textarea {
		resize: none;
		font-size: 1.6rem;
		height: 140px;
	}
	.button-wrapper {
		margin-left: 180px;
	}
	.msgError {
		width: calc(100% - 180px);
		float: right;
	}
	.radio {
		float: left;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		&:not(:last-child) {
			margin-right: 15px;
		}
		label {
			width: auto;
			margin-right: 5px;
		}
	}
	.upload {
		input[type="text"] {
			margin-bottom: 10px;
		}
		.button-wrapper {
			& + input {
				display: none;
			}
		}
	}
}
.attention, .text-err, .txt_com {
	border: 1px solid #bcbcbc;
	padding: 30px 15px 30px 72px;
	position: relative;
	display: block;
	&:before {
		font-family: sans-serif;
		border-radius: 50%;
		width: 42px;
		height: 42px;
		position: absolute;
		top: calc(50% - 21px);
		left: 15px;
		text-align: center;
		line-height: 42px;
		font-size: 34px;
		display: inline-block;
		border: 1px solid #bcbcbc;
	}
}
.msgError {
	border: 1px solid $color2;
	padding: 11px 15px 11px 60px;
	position: relative;
	display: block;
	color: $color2;
	margin: 10px 0 0;
	&:before {
		content: '!';
		border: 1px solid $color2;
		font-family: sans-serif;
		border-radius: 50%;
		width: 26px;
		height: 26px;
		position: absolute;
		top: calc(50% - 13px);
		left: 15px;
		text-align: center;
		line-height: 26px;
		font-size: 20px;
		display: inline-block;
	}
}
.attention, .txt_com {
	&:before {
		content: 'i';
	}
}
.text-err {
	border-color: $color2;
	color: $color2;
	&:before {
		content: '!';
		border-color: $color2;
	}
}
@media (max-width: 479px) {
	.form {
		label {
			line-height: 20px;
			padding: 0 0 5px;
		}
		label, input[type="text"], input[type="email"], input[type="password"], textarea, .msgError {
			width: 100%;
		}
		.button-wrapper {
			margin-left: 0;
		}
	}
}