.gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
}
.photoWrapperGallery {
	border: 5px solid #fff;
	flex: 1 0 33.3333%;
	p {
		margin: 0;
		padding: 5px;
		border-bottom: 1px solid $color2;
		color: $color1;
		
	}
	img {
		transition: all 0.3s ease;
		display: block;
		width: 100%;
		height: auto;
		&:hover {
			opacity: 0.8;
			transform: scale(1.1);
		}
	}
	a {
		overflow: hidden;
		display: block;
	}
	&:hover {
		p, img {
			border-color: $color2;
		}
	}
}
@media (max-width: 639px) {
	.photoWrapperGallery {
		flex: 1 0 50%;
	}
}
@media (max-width: 479px) {
	.photoWrapperGallery {
		flex: 1 0 100%;
	}
}