.headmodules {
	background-color: $color2;
	padding: 42px 0;
}
.headmodules__holder {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	text-align: center;
	margin: 0;
	padding: 0;
	a {
		color: #fff;
	}
	ul {
		margin: 0;
		padding: 0;
	}
	& > li {
		display: block;
		color: #fff;
		width: 25%;
		padding: 0 50px;
		p {
			margin: 0;
		}
		h2 {
			position: relative;
			padding: 0 0 20px;
			&:before {
				content: '';
				display: block;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				bottom: 0;
				width: 55px;
				height: 2px;
				background-color: $attention;
			}
		}
	}
	.module_icon {
		width: 144px;
		height: 110px;
		margin: 0 auto;
		background-size: cover;
		background-repeat: no-repeat;
		background-image: url('../images/headmodules-holder.png');
		position: relative;
		transition: all .3s ease;
		&:before {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 100%;
			background-size: auto;
			background-position: center center;
			background-repeat: no-repeat;
		}
		&:hover {
			a {
				text-decoration: underline;
			}
		}
	}
	#mod_calendar {
		.module_icon {
			&:before {
				background-image: url('../images/icons/icon1-big.png');
			}
		}
	}
	#mod_menu {
		.module_icon {
			&:before {
				background-image: url('../images/icons/icon7-big.png');
			}
		}
	}
	#mod_programs {
		.module_icon {
			&:before {
				background-image: url('../images/icons/icon14-big.png');
			}
		}
	}
	#mod_stats {
		.module_icon {
			&:before {
				background-image: url('../images/icons/icon2-big.png');
			}
		}
	}
	#mod_login {
		legend {
			display: none;
		}
		label {
			display: block;
			padding: 2px 20px 0;
			margin: 0;
			text-align: left;
		}
		input[type="text"], input[type="password"] {
			line-height: 30px;
			height: 32px;
			width: calc(100% - 40px);
			margin: 0 20px 5px;
		}
		.buttonWrapper {
			width: 145px;
			height: 45px;
			font-size: 1.8rem;
			line-height: 45px;
			background-image: url('../images/button-submit-background.png');
			display: block;
			margin: 10px 0 0 20px;
			&:before {
				display: none;
			}
			input[type="submit"] {
				padding-left: 0;
				text-align: center;

			}
		}
	}
	#mod_kzk {
		padding: 0 15px;
		.module_icon {
			&:before {
				background-image: url('../images/icons/icon3-big.png');
			}
		}
	}
	#mod_location {
		.module_icon {
			&:before {
				background-image: url('../images/icons/icon4-big.png');
			}
		}
	}
	#mod_gallery {
		.module_icon {
			&:before {
				background-image: url('../images/icons/icon5-big.png');
			}
		}
	}
	#mod_newsletter {
		.module_icon {
			&:before {
				background-image: url('../images/icons/icon6-big.png');
			}
		}
	}
	#mod_timetable {
		.module_icon {
			&:before {
				background-image: url('../images/icons/icon13-big.png');
			}
		}
	}
	#mod_contact {
		.module_icon {
			&:before {
				background-image: url('../images/icons/icon9-big.png');
			}
		}
	}
	#mod_video {
		.module_icon {
			&:before {
				background-image: url('../images/icons/icon10-big.png');
			}
		}
	}
	#mod_jokes {
		.module_icon {
			&:before {
				background-image: url('../images/icons/icon11-big.png');
			}
		}
	}
	#mod_login {
		.module_icon {
			&:before {
				background-image: url('../images/icons/icon12-big.png');
			}
		}
	}
}
@media (max-width: 1199px) {
	.headmodules__holder {
		& > li {
			padding: 0 25px;
			h2 {
				font-size: 2.5rem;
				padding-bottom: 10px;
			}
		}
	}
}
@media (max-width: 991px) {
	.headmodules {
		width: calc(100% + 30px);
		transform: translateX(-15px);
		padding: 32px 0 0;
	}
	.headmodules__holder {
		display: block;
		font-size: 0;
		text-align: center;
		width: 560px;
		margin: 0 auto;
		& > li {
			margin: 0 0 40px;
			display: inline-block;
			vertical-align: top;
			width: 280px;
			font-size: 1.4rem;
		}
		#mod_login {
			.buttonWrapper {
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
}
@media (max-width: 639px) {
	.headmodules__holder {
		width: 450px;
		& > li {
			width: 225px;
			margin: 0 0 30px;
		}
	}
}
@media (max-width: 479px) {
	.headmodules {
		padding: 30px 0 10px;
	}
	.headmodules__holder {
		width: 100%;
		& > li {
			width: 280px;
			display: block;
			margin: 0 auto 20px auto;
		}
		#mod_kzk {
			padding: 0 25px;
		}
	}
}