.hero {
	height: 510px;
	position: relative;
	overflow: hidden;
	background-color: #fff;
	.col-xs-12, .row, .container-fluid {
		height: 100% !important;
	}
}
.hero__address {
	display: none;
}
.hero__name {
	@include coverBg();
	display: flex;
	width: 443px;
	height: 194px;
	color: #e04d54;
	background-image: url('../images/hero/name.png');
	text-transform: uppercase;
	align-items: center;
	justify-content: center;
	text-align: center;
	position: absolute;
	bottom: 5px;
	left: calc(50% + 130px);
	z-index: 5;
	h1 {	
		transform: translateY(15px);
		font-family: 'dosis bold', sans-serif;
		font-size: 4.8rem;
		line-height: 54px;
		margin: 0;
		padding: 0 15px;
		display: block;
	}
	.br {
		display: none;
	}
	&.hero__name--small {
		h1 {
			font-size: 2.8rem;
			line-height: 30px;
		}
	}
}
.hero__background {
	position: absolute;
	background-repeat: repeat-x;
	background-position: 0% 0%;
	top: 0;
	bottom: 0;
	width: 1902px;
	background-image: url('../images/hero/hero-background.jpg');
}
.hero__background--left {
	right: calc(50% + 632px);
	background-position: top right;
}
.hero__background--right {
	left: calc(50% + 632px);
	background-position: top left;
}
.hero__holder {
	position: absolute;
	width: 1268px;
	height: 100%;
	top: 0;
	bottom: 0;
	left: calc(50% - 633px);
	&:before {
		@include coverBg();
		content: '';
		display: block;
		position: absolute;
		background-image: url('../images/hero/hero-mask-large.png');
		z-index: 3;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}
.hero__carousel {
	position: absolute;
	left: calc(50% - 350px);
	top: 10px;
	bottom: 0;
	width: 700px;
	height: 100%;
}
.hero__slide {
	@include coverBg();
	width: 100%;
	height: 510px;
	margin: 0 auto;
}
@media (min-width: 768px) {
	.hero {
		height: 510px !important;
	}
	.hero__holder {
		height: 100% !important;
	}
}
@media (max-width: 1120px) {
	.hero__name {
		bottom: 25px;
		left: calc(50% + 145px);
		width: 320px;
		height: 140px;
		h1 {
			font-size: 2.6rem;
			line-height: 28px;
		}
		&.hero__name--small {
			h1 {
				font-size: 1.9rem;
				line-height: 20px;
			}
		}
	}
}
@media (max-width: 991px) {
	.hero {
		height: 557px;
	}
	.hero__name {
		left: calc(50% + 50px);
		h1 {
			transform: translateY(10px);
		}
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.hero {
		height: 557px !important;
	}
}
@media (min-width: 768px) {
	.hero__holder {
		height: 100% !important;
	}
}
@media (max-width: 767px) {
	.hero {
		height: 563px;
	}
	.hero__background {
		display: none;
	}
	.hero__name {
		left: calc(50% - 95px);
	}
	.hero__holder {
		width: 100%;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		height: 100%;
		&:before {
			background-image: url('../images/hero/hero-mask-tablet.png');
		}
	}
}
@media (max-width: 639px) {
	.hero__name {
		width: 308px;
		height: 135px;
		left: auto;
		top: auto;
		bottom: 2%;
		right: 5%;
	}
	.hero__holder {
		&:before {
			background-image: url('../images/hero/hero-mask-mobile.png');
		}
	}
}
@media (max-width: 479px) {
	.hero__name {
		bottom: 1%;
		right: 5%;
	}
	.hero__slide {
		height: 320px;
	}
}
@media (max-width: 400px) {
	.hero__name {
		width: 230px;
		height: 101px;
		h1 {
			font-size: 1.5rem;
			line-height: 16px;
		}
		&.hero__name--small {
			h1 {
				font-size: 1.4rem;
				line-height: 16px;
			}
		}
	}
}