.modules-main {
	& > ul {
		display: flex;
		align-items: stretch;
		padding: 0;
		justify-content: center;
		text-align: center;
		color: #fff;
		& > li {
			display: block;
			position: relative;
			width: 280px;
			height: 212px;
			margin: 0 5px;
			& > div {
				background-repeat: no-repeat;
				background-image: url('../images/module-main-desktop.png');
				background-size: cover;
				position: absolute;
				text-align: left;
				z-index: 2;
				width: 247px;
				height: 188px;
				left: 0;
				bottom: 0;
				padding: 42px 20px 20px 26px;
				transition: all .3s ease;
				&:hover {
					a {
						text-decoration: underline;
					}
				}
				&:before, &:after {
					background-repeat: no-repeat;
					content: '';
					display: block;
					position: absolute;
					background-position: center center;
					transform: all .3s ease;
					top: -25px;
					right: -30px;
					width: 109px;
					height: 84px;
				}
				&:before {
					background-size: auto;
					z-index: 2;
					transform: scale(0.95);
				}
				&:after {
					z-index: 1;
					background-size: cover;
					background-image: url('../images/module-main-symbol.png');
				}
				h2 {
					text-transform: uppercase;
					text-align: left;
					margin: 0 0 30px;
					font-size: 2.2rem;
					line-height: 24px;
				}
				a, p {
					color: #fff;
					margin: 0 0 0 35px;
					font-size: 1.4rem;
					line-height: 16px;
					text-align: left;
				}
				a {
					display: inline-block;
					&:hover {
						text-decoration: underline;
					}
					&.keyboard-outline {
						outline-color: #eee !important;
					}
				}
			}
			#mod_forum {
				&:before {
					background-image: url('../images/icons/icon8-big.png');
				}
				#modForum, .bolder {
					display: none;
				}
				.button {
					text-transform: none;
					margin: 0;
					color: #fff;
					display: inline-block;
					margin: 0 0 0 30px;
					font-size: 1.4rem;
					line-height: 16px;
					text-align: left;
				}
			}
			#mod_gallery {
				&:before {
					background-image: url('../images/icons/icon5-big.png');
				}
			}
			#mod_video {
				&:before {
					background-image: url('../images/icons/icon10-big.png');
				}
			}
			#mod_contact {
				&:before {
					background-image: url('../images/icons/icon9-big.png');
				}
			}
			#mod_jokes {
				&:before {
					background-image: url('../images/icons/icon11-big.png');
				}
			}
			#mod_menu {
				&:before {
					background-image: url('../images/icons/icon7-big.png');
				}
			}
			#mod_newsletter {
				&:before {
					background-image: url('../images/icons/icon6-big.png');
				}
			}
			#mod_location {
				&:before {
					background-image: url('../images/icons/icon4-big.png');
					transform: scale(0.85);
				}
			}
			#mod_timetable {
				&:before {
					background-image: url('../images/icons/icon13-big.png');
				}
			}
		}
	}
}
#modulesBottom {
	margin-top: 20px;
}
@media (max-width: 1199px) {
	.modules-main {
		& > ul {
			& > li {
				width: 232px;
				height: 176px;
				& > div {
					width: 204px;
					height: 155px;
					padding: 29px 20px 20px 19px;
					&:before {
						transform: scale(0.75);
					}
					&:hover {
						&:before {
							transform: scale(0.75) rotate(-3deg);
						}
					}
					&:before, &:after {
						width: 96px;
						height: 74px;
					}
					h2 {
						margin: 0 0 18px;
					}
					a, p {
						font-size: 1.3rem;
						line-height: 14px;
						margin: 0 0 0 38px;
					}
				}
				& > #mod_forum {
					.button {
						font-size: 1.3rem;
						line-height: 14px;
					}
				}
				#mod_location {
					&:before {
						transform: scale(0.75);
					}
				}
			}
		}
	}
}
@media (min-width: 992px) {
	.modules-main {
		& > ul {
			& > li {
				&.modulesLeftMain {
					display: none;
				}
			}
		}
	}
}
@media (max-width: 991px) {
	.modules-main {
		margin: 20px 0;
		& > ul {
			flex-wrap: wrap;
			justify-content: flex-start;
			& > li {
				flex: 1 0 50%;
				width: 50%;
				max-width: 50%;
				margin: 0;
				height: auto;
				padding: 15px;
				display: block;
				&:after {
					content: '';
					position: absolute;
					display: block;
					width: 78px;
					z-index: 2;
					height: 18px;
					bottom: 35px;
					right: 35px;
					background-size: cover;
					background-image: url('../images/arrow-right2.png');
				}
				& > div {
					position: relative;
					background-image: none;
					padding: 12px 20px 5px 108px;
					height: 100px;
					width: 100%;
					border-radius: 20px;
					background-color: $color1;
					&:before {
						z-index: 2;
					}
					&:before, &:after {
						left: 0;
						top: 0;
					}
					h2 {
						margin: 0 0 5px;
					}
					a, p, .button {
						margin: 0;
						padding: 0 83px 0 0;
					}
				}
				& > #mod_forum {
					.button {
						margin: 0;
					}
				}
				& > #mod_contact {
					h2 {
						margin: 0;
					}
					p {
						font-size: 1.2rem;
						line-height: 13px;
					}
				}
				& > #mod_newsletter {
					a, p {
						font-size: 1.1rem;
						line-height: 13px;
						padding-right: 80px;
					}
				}
			}
		}
	}
}
@media (max-width: 767px) {
	.modules-main {
		& > ul {
			& > li {
				width: 100%;
				flex: 1 0 100%;
				max-width: 100%;
				& > div {
					height: 110px;
					padding-top: 18px;
				}
				& > #mod_contact {
					h2 {
						margin: 0 0 5px;
					}
				}
			}
		}
	}
}
@media (max-width: 479px) {
	.modules-main {
		transform: none;
		width: 100%;
		& > ul {
			& > li {
				&:after {
					display: none;
				}
				& > div {
					padding: 20px 25px;
					&:before, &:after {
						display: none;
					}
					a, p, .button {
						padding: 0;
					}
					h2 {
						margin: 0 0 10px;
					}
				}
			}
		}
	}
}