.main-nav {
	position: relative;
	z-index: 9;
	min-height: 150px;
	background-color: rgba(255,255,255,0.8);
	&:before {
		content: '';
		width: 100%;
		height: 1px;
		background-color: #e3e3e3;
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		top: 57px;
	}
}
.nav__holder--mobile {
	display: none;
	background-color: $color2;
}
.nav__tools {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	li {
		display: block;
		float: left;
	}
}
.nav__content {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	font-size: 1.2rem;
	height: 57px;
	position: relative;
}
.nav__hamburger {
	display: none;
	margin: 18px 0;
	border: 0;
	background-color: transparent;
	padding: 5px;
	width: 40px;
	height: 33px;
	cursor: pointer;
	position: relative;
	i {
		transition: all .3s ease;
		display: block;
		width: 100%;
		height: 3px;
		background-color: #fff;
		&:not(:last-of-type) {
			margin-bottom: 7px;
		}
	}
	&.active {
		i {
			&:first-of-type {
				transform: rotate(45deg) translateX(8px) translateY(7px);
			}
			&:nth-of-type(2) {
				opacity: 0;
			}
			&:last-of-type {
				transform: rotate(-45deg)  translateX(7px) translateY(-6px);
			}
		}
	}
}
.nav__home {
	display: block;
	position: absolute;
	width: 56px;
	height: auto;
	left: 0;
	top: 50%;
    transform: translateY(-50%);
	img {
		transition: all .3s ease;
		&:hover {
			filter: saturate(4);
		}
	}
}
.nav__bip {
	display: block;
	margin: 0 30px 0 0;
	img {
		&:first-child {
			display: inline;
		}
		&:last-child {
			display: none;
		}
	}
}
.nav__sitemap {
	display: block;
	line-height: 13px;
	margin: 0 45px 0 0;
	font-size: 1.2rem;
	font-family: 'dosis medium', sans-serif;
	img {
		display: inline-block;
		margin-right: 5px;
	}
}
.nav__contrast {
	display: block;
	line-height: 17px;
	margin: 0 30px 0 0;
	img {
		display: inline-block;
		margin-left: 5px;
		height: 17px;
		width: auto;
		&:last-of-type {
			display: none;
		}
	}
}
.nav__fonts {
	@include clearfix();
	display: block;
	margin: 0 25px 0 0;
	padding: 0;
	font-size: 0;
	li {
		display: inline-block;
		&:not(:last-child) {
			margin-right: 7px;
		}
		a {
			&.medium {
				font-size: 18px;
			}
			&.big {
				font-size: 20px;
			}
			&.large {
				font-size: 22px;
			}
			&:hover, &:focus {
				text-decoration: none;
			}
			span {
				display: inline-block;
			}
		}
	}
}
.nav__content--mobile {
	display: flex;
	align-items: center;
	justify-content: center;
	& > div {
		display: block;
	}
}
.nav__search {
	width: 191px;
	height: 35px;
	font-size: 1.4rem;
	border: 1px solid #99b8d8;
	&:after {
		content: '';
		clear: both;
		display: table;
	}
	button {
		transition: all 0.3s ease;
		float: right;
		width: 33px;
		height: 33px;
		background-color: $basic;
		background-size: 21px 19px;
		background-repeat: no-repeat;
		background-position: center center;
		cursor: pointer;
		background-image: url('../images/nav/search-light.png');
		outline: 0;
		border: 0;
		font-size: 0;
		border-left: 1px solid #99b8d8;
		&:hover {
			background-color: $basic + #333;
		}
	}
	input {
		display: block;
		width: calc(100% - 33px);
		line-height: 33px;
		padding: 0 4px 0 14px;
		height: 33px;
		border: 0;
		outline: 0;
		float: left;
	}
}
.nav__menu {
	display: block;
	float: left;
	text-align: center;
	min-height: 92px;
	padding: 2px 0 3px;
	& > ul {
		@include clearfix();
		transform: translateX(-15px);
		padding: 0;
		margin: 0 0 0 15px;
		font-size: 0;
		text-align: left;
		display: block;
		text-transform: uppercase;
		& > li {
			display: inline-block;
			vertical-align: top;
			&:not(:last-child) {
				margin: 0 40px 0 0;
			}
			& > a {
				background-size: 0 0;
				background-repeat: no-repeat;
				background-position: center center;
				background-image: url('../images/nav/menu-hover.png');
				min-height: 88px;
				min-width: 112px;
				display: flex;
				align-items: center;
				justify-content: space-around;
				flex-direction: column;
				font-size: 1.3rem;
				line-height: 15px;
				.menu-icon {
					transform: translateY(5px); 
				}
				&:hover, &:focus {
					background-size: 112px 88px;
					text-decoration: none;
				}
			}
			ul {
				display: none;
				z-index: 8;
				position: absolute;
				top: calc(100% - 1px);
				left: 0;
				margin: 0;
				width: 170px;
				border-color: rgba(255,255,255,0.7);
				padding: 4px 18px 5px 15px;
				&.active {
					display: block;
				}
				li {
					display: block;
					font-size: 1.2rem;
					&:not(:last-child) {
						border-bottom: 1px solid #e2e8ef;
					}
					&:last-child {
						a {
							border-bottom-width: 0;
						}
					}
					a {
						color: #565859;
						display: block;
						padding: 5px 4px;
						border-bottom: 1px solid #f9fafc;
						&:hover, &:focus {
							text-decoration: none;
							background-color: #fff;
							color: $color2;
						}
					}
				}
			}
		}
	}
}
@media (min-width: 992px) {
	.nav__tab--mobile {
		display: none !important;
		padding: 0 !important;
		margin: 0 !important;
	}
}
@media (max-width: 991px) {
	.nav__holder--mobile {
		display: block;
	}
	.nav__tab--mobile {
		display: block;
		height: 70px;
		background-color: $color2;
	}
	.main-nav {
		min-height: 124px;
	}
	.nav__tools {
		display: inline-block;
	}
	.nav__hamburger {
		display: block;
	}
	.nav__sitemap {
		display: none;
	}
	.nav__fonts {
		display: none;
	}
	.nav__holder {
		min-height: 0;
		& > .col-xs-12 {
			position: static !important;
		}
	}
	.nav__search {
		width: auto;
		position: relative;
		border: 0;
		float: left;
		margin: 3px 0 0;
		input {
			display: none;
		}
		button {
			background-image: url('../images/nav/search-color2.png');
			background-size: 25px 23px;
			background-color: transparent;
			border-left: 0;
			&:hover {
				background-color: transparent;
			}
		}
		&:before {
			content: '';
			width: 36px;
			height: 38px;
			top: 0;
			right: 0;
			position: absolute;
			display: block;
			cursor: pointer;
		}
		&.active {
			input {
				position: absolute;
				display: block;
				top: 0;
				right: 44px;
				width: 180px;
				border: 1px solid #de6005;
			}
		}
	}
	.nav__home {
		display: block;
		position: static;
		width: 62px;
		transform: none;
		float: left;
		margin: 0;
		padding: 4px 0 0;
	}
	.nav__menu {
		display: none;
		position: absolute;
		top: 70px;
		left: 0;
		right: 0;
		padding: 0;
		width: 100%;
		height: auto;
		background-color: $color1;
		.protectedPage {
			background-image: url('../images/lock-light.png');
		}
		&.active {
			display: block;
		}
		& > ul {
			transform: none;
			margin: 0;
			padding: 3px 0;
			height: auto;
			text-align: center;
			& > li {
				display: block;
				&:not(:last-child) {
					margin-right: 0;
				}
				& > a {
					text-align: center;
					min-width: 100%;
					min-height: 0;
					.menu-icon {
						display: none;
					}
				}
				a {
					display: block;
					color: #fff;
					padding: 15px;
					background: transparent;
					border: 0;
					&:hover, &:focus {
						background-color: $color2;
					}
				}
				ul {
					position: static;
					padding: 0;
					width: 100%;
					li {
						width: 100%;
						&:not(:last-child) {
							border-bottom: 0;
						}
						a {
							padding: 15px;
							border: 0;
							background-color: $color1 + #333;
							color: #fff;
							text-align: center;
							font-size: 1.3rem;
							line-height: 15px;
							&:hover, &:focus {
								color: #fff;
								background-color: $color2;
							}
						}
					}
				}
			}
		}
	}
	.nav__bip {
		float: left;
		margin: 16px 0 0 24px;
	}
	.nav__contrast {
		margin: 7px 16px 0;
		font-size: 0;
		line-height: auto;
		float: left;
		padding: 5px;
		position: relative;
		&:before {
			content: '';
			width: 1px;
			height: 20px;
			background-color: #de6005;
			position: absolute;
			right: -10px;
			top: 4px;
		}
		img {
			transform: none;
			margin: 0;
			&:first-of-type {
				display: none;
			}
			&:last-of-type {
				transform: none;
				display: inline-block;
			}
		}
	}
	.nav__content {
		@include clearfix();
		display: block;	
	}
	.nav__content--mobile {
		@include clearfix();
		display: block;
		float: right;
		margin: 10px 0 0;
	}
}
@media (max-width: 519px) {
	.nav__bip {
		margin-left: 10px;
		img {
			&:first-child {
				display: none;
			}
			&:last-child {
				display: inline;
			}
		}
	}
}