.timetable--classlist {
	font-size: 1.6rem;
	line-height: 20px;
	color: $basic;
	padding: 0;
	display: block;
	list-style-type: circle;
	list-style-position: inside;
	a {
		color: inherit;
		&:hover {
			text-decoration: underline;
		}
	}
}
.timetable__info {
	font-size: 1.6rem;
}
.timetable {
	border-collapse: collapse;
	font-size: 1.6rem;
	width: 100%;
	color: #333;
	caption {
		text-align: left;
		font-family: 'dosis bold', sans-serif;
		border-bottom: 0;
		border: 1px solid $basic;
		border-bottom-width: 0;
		padding: 5px;
	}
	th, td {
		border: 1px solid #333;
		padding: 5px;
		vertical-align: middle;
	}
	th {
		text-align: left;
		color: #222;
	}
	.txt_err {
		color: #222;
		text-align: center;
	}
}
.timetable__holder {
	margin: 0 auto 20px;
	border: 0;
}
@media (max-width: 767px) {
	.timetable {
		font-size: 1.3rem;
		th, td {
			width: auto !important;
		}
	}
}