$basic: #385572;
$color1: #185e74;
$color2: #bc3c49;
$attention: #fce854;
* {
  box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body, html {
	min-width: 320px;
	margin: 0;
	padding: 0;
	font-family: 'dosis', sans-serif;
	font-weight: 400;
	color: $basic;
	overflow-x: hidden;
}
body {
	font-size: 1.6rem;
}
a {
	text-decoration: none;
	outline: 0;
	display: inline-block;
	transition: all 0.3s ease;
	color: $color1;
	&:hover, &:focus {
		color: inherit;
	}
}
.dropdown-backdrop {
	display: none;
}
img {
	max-width: 100%;
	height: auto;
}
ul {
	list-style-type: none;
}
h2, h3 {
	
	font-weight: normal;
}
.protectedPage {
	width: 11.5px;
	height: 14px;
	display: inline-block;
	margin-left: 3px;
	vertical-align: middle;
	background-size: cover;
	background-image: url('../images/lock-dark.png');
	background-position: center center;
}
.clock {
	display: none;
}
.clearfix, .clear {
	@include clearfix();
}
.FBLike, .Tweet {
	iframe {
		margin: 5px 0 0;
	}
}
iframe {
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.mail {
	word-break: break-all;
}
#content_txt {
	@include clearfix();
}
caption {
	text-align: center;
	color: inherit;
	padding: 0;
}
input[type="submit"] {
	cursor: pointer;
}
input[type="file"] {
	display: none;
}
input[type="text"], input[type="password"] {
	border: 1px solid #99b8d8;
	height: 42px;
	line-height: 42px;
	padding: 0 10px;
	font-size: 1.6rem;
	color: $basic;
}
input[type="submit"], .button, button {
	background-size: cover;
	background-position: center center;
	background-color: transparent;
	text-transform: uppercase;
	color: $basic;
	border: 0;
	outline: 0;
	&:hover {
		text-decoration: underline;
	}
	&:focus {
		text-decoration: none;
	}
}
.keyboard-outline {
	outline: 2px solid green !important;
	outline-offset: 2px !important;
	text-decoration: none !important;
}
a:not([href]) {
	width: 0;
	height: 0;
	display: inline;
}
.buttonWrapper {
	@include coverBg();
	position: relative;
	background-image: url('../images/button-background1.png');
	display: block;
	width: 275px;
	height: 78px;
	cursor: pointer;
	font-size: 1.8rem;
	line-height: 78px;
	& > * {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		border: 0;
		outline: 0;
		background-color: transparent;
		box-shadow: none;
		text-align: left;
		padding-left: 60px;
	}
	&:before {
		@include coverBg();
		content: '';
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 30px;
		width: 56px;
		height: 27px;
		background-image: url('../images/arrow-dark.png');
	}
}
.dropdown-menu {
	float: none;
	border: 0;
	margin: 0;
	border-radius: 0;
	box-shadow: none;
	width: auto;
	& > li {
		& > a {	
			white-space: normal;
		}
	}
}
.radio {
	margin: 0;
	& + .radio {
		margin: 0;
	}
	label, input[type="radio"] {
		position: static;
		padding: 0;
		margin: 0;
	}
	input[type="radio"] {
		margin: 0 0 0 5px !important;
	}
}
.heading, #content_txt > h2 {
	font-size: 2.9rem;
	display: block;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 30px;
	padding: 0 0 20px;
	border-bottom: 1px dashed $basic;
}
#content_txt > h2 {
	margin-top: 30px;
}
.clock-container {
	display: none;
}
th {
	text-align: center;
}
@media (min-width: 992px) {
	.visible-mobile {
		display: none !important;
		padding: 0 !important;
		margin: 0 !important;
	}
}
@media (max-width: 991px) {
	.container {
		width: 100% !important;
	}
	.hidden-mobile {
		display: none !important;
		padding: 0 !important;
		margin: 0 !important;
	}
	.visible-mobile {
		display: block;
	}
}