@mixin clearfix {
	&:before, &:after {
			content: " ";
			display: table;
	}
	&:after {
		clear: both;
	}
}
@mixin retina() {
	@media (min--moz-device-pixel-ratio: 1.5),
	(-o-min-device-pixel-ratio: 3/2),
	(-webkit-min-device-pixel-ratio: 1.5),
	(min-device-pixel-ratio: 1.5),
	(min-resolution: 1.5dppx) {
	   @content;
	}
}

@mixin coverBg() {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@font-face {
    font-family: 'dosis extralight';
    src: url('../fonts/dosis-extralight.eot');
    src: url('../fonts/dosis-extralight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/dosis-extralight.woff') format('woff'), 
    url('../fonts/dosis-extralight.ttf') format('truetype'), 
    url('../fonts/dosis-extralight.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dosis light';
    src: url('../fonts/dosis-light.eot');
    src: url('../fonts/dosis-light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/dosis-light.woff') format('woff'), 
    url('../fonts/dosis-light.ttf') format('truetype'), 
    url('../fonts/dosis-light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dosis';
    src: url('../fonts/dosis-regular.eot');
    src: url('../fonts/dosis-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/dosis-regular.woff') format('woff'), 
    url('../fonts/dosis-regular.ttf') format('truetype'), 
    url('../fonts/dosis-regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dosis medium';
    src: url('../fonts/dosis-medium.eot');
    src: url('../fonts/dosis-medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/dosis-medium.woff') format('woff'), 
    url('../fonts/dosis-medium.ttf') format('truetype'), 
    url('../fonts/dosis-medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dosis semibold';
    src: url('../fonts/dosis-semibold.eot');
    src: url('../fonts/dosis-semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/dosis-semibold.woff') format('woff'), 
    url('../fonts/dosis-semibold.ttf') format('truetype'), 
    url('../fonts/dosis-semibold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dosis bold';
    src: url('../fonts/dosis-bold.eot');
    src: url('../fonts/dosis-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/dosis-bold.woff') format('woff'), 
    url('../fonts/dosis-bold.ttf') format('truetype'), 
    url('../fonts/dosis-bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dosis extrabold';
    src: url('../fonts/dosis-extrabold.eot');
    src: url('../fonts/dosis-extrabold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/dosis-extrabold.woff') format('woff'), 
    url('../fonts/dosis-extrabold.ttf') format('truetype'), 
    url('../fonts/dosis-extrabold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'chalk';
    src: url('../fonts/chalk.eot');
    src: url('../fonts/chalk.eot?#iefix') format('embedded-opentype'),
    url('../fonts/chalk.woff') format('woff'), 
    url('../fonts/chalk.ttf') format('truetype'), 
    url('../fonts/chalk.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}